extends index

block content
	h1 #{artist_name}
	br
	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br

	- var x = tracks;

	p Track 1: #{tracks[0].artist_name} - #{tracks[0].track_name}
	iframe(frameborder='0' src=tracks[0].drive_url)
	br
	p Track 2: #{tracks[1].artist_name} - #{tracks[1].track_name}
	iframe(frameborder='0' src=`${tracks[1].drive_url}`)
	br
	p Track 3: #{tracks[2].artist_name} - #{tracks[2].track_name}
	iframe(frameborder='0' src=`${tracks[2].drive_url}`)

	ul
		each track in x
			li= `${track.artist_name} - ${track.track_name}`
			li= track.drive_url
			li= `iframe(frameborder='0' src=${tracks.drive_url})`


	

			
