extends index

block content
	h1 Artist name is #{artist_name}	
	br
	h1= track[1].drive_url
	ul
		each track, i in tracks
			li= #{track.id}
			li= #{track.artist_name}
			li= #{track.drive_url}

	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br
	br

	ul
		each info, i in artist
			li= info.id
			li= info.artist_name
			li= info.crew
			li= info.country

	iframe(frameborder='0' src='https://drive.google.com/file/d/1n9lnHF031ITw9vsiWv6bvRTXsN6bVzEF/preview')
