extends index

block content
	h1 Artist name is #{artist_name}
	h2 #{artist}

	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br
	br
	p ID is #{artist.id}. Artist Name is #{artist.artist_name}.
	
	p Track 1: #{tracks[0].artist_name} - #{tracks[0].track_name}
	p #{tracks[0].drive_url}
	iframe(frameborder='0' src='https://drive.google.com/file/d/' + #{tracks[0].drive_url} + '/preview')

	p Track 2: #{tracks[1].artist_name} - #{tracks[1].track_name}
	iframe(frameborder='0' src='https://drive.google.com/file/d/#{tracks[1].drive_url}/preview')

	p Track 3: #{tracks[2].artist_name} - #{tracks[2].track_name}
	iframe(frameborder='0' src='https://drive.google.com/file/d/#{tracks[2].drive_url}/preview')

	

	

			
