extends index2

block content
	h1 #{artist_name}
	br
	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br

	- var x = tracks;
	
	ul
		each track in x
			li.tunetext= `${track.artist_name} - ${track.track_name}`
			li
				p 
			audio(src=track.drive_url, type='audio/mpeg', controls='')
				code audio
			li
				p 
			a(href=track.drive_url) Download Tune
			li
				p 