extends index2

block content
	br
	script.
		document.addEventListener('play', function(e){
		var audios = document.getElementsByTagName('audio');
		for(var i = 0, len = audios.length; i < len;i++){
		if(audios[i] != e.target){
		audios[i].pause();
		}
		}
		}, true);
	.artisth1
		h1 #{artist_name}
	.artistpage
		img(src=`../Images/Logos/${artist_name}.jpg`, alt="ADD ARTIST IMG HERE", height='275', width='275')
	br
	.artistinfo
		h3 #{info}
	br
	br
	br


	- var x = tracks;
	- var test = x[1].id;
	- var userid = currentuserid;
	- var trackid = "";

	h1 #{test}
	h2 above is track 2 id
	
	.ulcontain
		each track in x
			trackid = track.id
			ul
				.uldiv
					li.tunetext= `${track.track_name} - ${trackid} - ${userid}`
					.regaudio
						audio(src=track.drive_url, type='audio/mpeg', controls='') Sorry Bruv, Your Browser Can't Play dis chune!
					li.tunetext= `       `
					.downloadbutton
						a(href=track.drive_url)
							img(border='0', alt='Download Tune', src='../Images/PageIMG/download.png', height='50')
						button(onclick='addFavorite()') Add Favorite
							script.
								function addFavorite(userid, trackid) {
									console.log("Bootun Clickyed");
								}
					li.tunetext= `  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­ `
					a(href="")  
	p TEST thing let's see if this works.