extends index2

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	- var message = msg;
	br
	#labelgcenter #{message}
	script.
		document.addEventListener('play', function(e){
		var audios = document.getElementsByTagName('audio');
		for(var i = 0, len = audios.length; i < len;i++){
		if(audios[i] != e.target){
		audios[i].pause();
		}
		}
		}, true);
	.artisth1
		h1 #{artist_name}
	.middlecontain
		.artistpage
			img(src=`../Images/Logos/${artist_name}.jpg`, alt="ADD ARTIST IMG HERE", height='275', width='275')
		.searchcontainart
			.searchformart
				form#searchy(method='POST')
					div
						label(for='search_results')       Search
						input#search_results(type='text', name='search_results' placeholder="Search for a Tune...")
					div
						input#a_name(type='hidden', name='a_name', value=`${artist_name}`)
					div
						a(href=`../../artist/${artist_name}`) Reload Back To All Tunes
			#test
				img(border='0', alt='back', src='../../Images/PageIMG/forward.png', height='45')
	.artistinfo
		h3 #{info}
	#labelgcenter2 #{message}
	- var x = tracks;
	- var userid = currentuserid;
	- var test = `${artist_name}`;

	#ulcontain
		each track in x
			.uldiv
				ul
					li.tunetext= `${track.track_name}`
					.regaudio
						audio(src=track.drive_url, type='audio/mpeg', controls='')
					li.tunetext= `       `
					.downloadbutton
						a(href=track.drive_url)
							img(border='0', alt='Download Tune', src='../Images/PageIMG/download.png', height='50')
						form(method='POST' action=`/artist/${artist_name}`)
							div.form-group
								input#track_id.form-control(type='hidden', name='track_id', value=`${track.id}`)
							div.form-group
								input#favetrack_name.form-control(type='hidden', name='favetrack_name', value=`${track.track_name}`)
							div.form-group
								input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
							div.form-group
								input#name.form-control(type='hidden', name='name', value=`${artist_name}`)
							div
								input(type='submit', value='Add to Favorites')
					li.tunetext= `  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­ `
					a(href="")
	script.
		$(document).ready(function() {
		var theform = $('#searchy');
		var thebutton = $('#test');
		thebutton.click(function (ev) {
		ev.preventDefault();
		$.ajax({
		url:'/tunesearch',
		type: 'POST',
		data: theform.serialize(),
		success: function(data){

		console.log("MSG is: " + data.msg);
		console.log("Reloadlist is: " + data.reloadlist);
		console.log("Current USER ID is: " + data.currentuserid);
		console.log("Artist Name is: " + data.artist_name);
		console.table(data.tracks);
		var themsg = data.msg;
		document.getElementById('labelgcenter').innerHTML = themsg;
		document.getElementById('labelgcenter2').innerHTML = themsg;
		var reloadlist = data.reloadlist;
		if (reloadlist == 1){
			console.log("Replace elements!!!");
			var oldlist = document.getElementsByClassName("uldiv");
			for (var i = 0; i < (oldlist.length + 1); i++){
				oldlist[i].parentNode.removeChild(oldlist[i]);
				console.log("Removing ul" + i);
			}
			//var oldlist2 = document.getElementsByClassName("uldiv");
			//for (var i = 0; i < (oldlist2.length + 1); i++){
			//	oldlist2[i].parentNode.removeChild(oldlist2[i]);
			//	console.log("Removing ul" + i);
			//}
			var tracks = data.tracks;
			for (var i = 0; i < tracks.length; i++){
				console.log(tracks[i].track_name);
			}
		}

		},
		error: function(){
		console.log("Didn't Work");
		}
		});//ajax
		});//submit
		});