extends index2

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	- var message = msg;
	br
	#labelgcenter #{message}
	script.
		document.addEventListener('play', function(e){
		var audios = document.getElementsByTagName('audio');
		for(var i = 0, len = audios.length; i < len;i++){
		if(audios[i] != e.target){
		audios[i].pause();
		}
		}
		}, true);
	.artisth1
		h1 #{artist_name}
	.middlecontain
		.searchcontainart
			.searchformart
				form#searchy(method='POST')
					div
						label.boldtext(for='search_results') Tune Search
						input#search_results(type='text', name='search_results' placeholder="Search for a Tune...")
					div
						input#a_name(type='hidden', name='a_name', value=`${artist_name}`)
					#test
						img(border='0', alt='back', src='../../Images/PageIMG/tunesearch.png', height='45')
					div
						a(href=`../../artist/${artist_name}`) Reload Back To All Tunes
		.artistpage
			img(src=`../Images/Logos/${artist_name}.jpg`, alt="ADD ARTIST IMG HERE", height='275', width='275')
	.artistinfo
		h3 #{info}
	#labelgcenter2 #{message}
	- var x = tracks;
	- var userid = currentuserid;
	- var test = `${artist_name}`;

	#ulcontain
		each track, index in x
			.uldiv
				ul
					li.tunetext= `${track.track_name} + ${index}`
					.regaudio
						audio(src=track.drive_url, type='audio/mpeg', controls='')
					.downloadbutton
						a(href=track.drive_url)
							img(border='2', alt='Download Tune', src='../Images/PageIMG/download2.png', height='50')
						form(id=`form ${index}`, method='POST')
							input#track_id.form-control(type='hidden', name='track_id', value=`${track.id}`)
							
							input#favetrack_name.form-control(type='hidden', name='favetrack_name', value=`${track.track_name}`)
							
							input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
							
							input#name.form-control(type='hidden', name='name', value=`${artist_name}`)
							img(id=`${index}`, class='favebuttonclass', border='2', alt='back', src='../Images/PageIMG/addfave.png', height='50')
					
	#ulcontain2
	script.
		$(document).ready(function() {
		var theform = $('#searchy');
		var thebutton = $('#test');
		thebutton.click(function (ev) {
		ev.preventDefault();
		$.ajax({
		url:'/tunesearch',
		type: 'POST',
		data: theform.serialize(),
		success: function(data){

			var themsg = data.msg;
			document.getElementById('labelgcenter').innerHTML = themsg;
			document.getElementById('labelgcenter2').innerHTML = themsg;
			var reloadlist = data.reloadlist;

			if (reloadlist == 1){

				var oldlist = document.getElementsByClassName("uldiv");
				const len = oldlist.length;
				for (var i = 0; i < len; i++){
					var element = oldlist[(oldlist.length - 1)].parentNode;
					element.removeChild(oldlist[(oldlist.length - 1)]);
				}
				var tracks = data.tracks;
				for (var i = 0; i < tracks.length; i++){
					//set container, everything will added within
					var thecontainer = document.getElementById('ulcontain2');

					var newdiv = document.createElement('div');
					newdiv.setAttribute('class', 'uldiv');

					var newul = document.createElement('ul');

					//Track Name Line
					var textli = document.createElement('li');
					textli.setAttribute('class', 'tunetext');
					textli.innerHTML = tracks[i].track_name;

					//audio div
					var audiodiv = document.createElement('div');
					audiodiv.setAttribute('class', 'regaudio');

					//audio element
					var newaudio = document.createElement('audio');
					newaudio.setAttribute('src', `${tracks[i].drive_url}`);
					newaudio.setAttribute('type', 'audio/mpeg');
					newaudio.setAttribute('controls', '');

					//download div
					var downloaddiv = document.createElement('div');
					downloaddiv.setAttribute('class', 'downloadbutton');

					//download link
					var downlink = document.createElement('a');
					downlink.setAttribute('href', `${tracks[i].drive_url}`);

					//download image
					var downimage = document.createElement('img');
					downimage.setAttribute('border', '0');
					downimage.setAttribute('alt', 'Download Tune');
					downimage.setAttribute('src', '../Images/PageIMG/download.png');
					downimage.setAttribute('height', '50');

					//form
					var zeform = document.createElement('form');
					zeform.setAttribute('method', 'POST');
					zeform.setAttribute('action', `/artist/${tracks[i].artist_name}`);

					//form inputs:
					var trackidinput = document.createElement('input');
					trackidinput.setAttribute('id', 'track_id');
					trackidinput.setAttribute('class', 'form-control');
					trackidinput.setAttribute('type', 'hidden');
					trackidinput.setAttribute('name', 'track_id');
					trackidinput.setAttribute('value', `${tracks[i].id}`);

					var tracknameinput = document.createElement('input');
					tracknameinput.setAttribute('id', 'favetrack_name');
					tracknameinput.setAttribute('class', 'form-control');
					tracknameinput.setAttribute('type', 'hidden');
					tracknameinput.setAttribute('name', 'favetrack_name');
					tracknameinput.setAttribute('value', `${tracks[i].track_name}`);

					var useridinput = document.createElement('input');
					useridinput.setAttribute('id', 'user_id');
					useridinput.setAttribute('class', 'form-control');
					useridinput.setAttribute('type', 'hidden');
					useridinput.setAttribute('name', 'user_id');
					useridinput.setAttribute('value', `${data.currentuserid}`);

					var artistnameinput = document.createElement('input');
					artistnameinput.setAttribute('id', 'name');
					artistnameinput.setAttribute('class', 'form-control');
					artistnameinput.setAttribute('type', 'hidden');
					artistnameinput.setAttribute('name', 'name');
					artistnameinput.setAttribute('value', `${tracks[i].artist_name}`);

					var submitinput = document.createElement('input');
					submitinput.setAttribute('type', 'submit');
					submitinput.setAttribute('value', `Add to Favorites`);

					//finishing form
					zeform.appendChild(trackidinput);
					zeform.appendChild(tracknameinput);
					zeform.appendChild(useridinput);
					zeform.appendChild(artistnameinput);
					zeform.appendChild(submitinput);

					//finishing download
					downlink.appendChild(downimage);
					downloaddiv.appendChild(downlink);
					downloaddiv.appendChild(zeform);

					//finishing audio
					audiodiv.appendChild(newaudio);

					//final appends
					newul.appendChild(textli);
					newul.appendChild(audiodiv);
					newul.appendChild(downloaddiv);
					newdiv.appendChild(newul);

					//insert into page
					thecontainer.appendChild(newdiv);

				}

			}//end if, reloading page elements within

		},
		error: function(){
		console.log("Didn't Work");
		}
		});//ajax
		});//submit
		});
	
	script.
		$(document).ready(function() {
		
			document.querySelectorAll('.favebuttonclass').forEach(item => {
				item.addEventListener('click', event => {
				console.log("CLicked");
				console.log("ITEM ID is: " + item.id);
				var theform = document.getElementById(`form ${item.id}`);
				console.log(theform);
				var tid = theform.elements["track_id"].value;
				var t_name = theform.elements["favetrack_name"].value;
				var uid = theform.elements["user_id"].value;
				var a_name = theform.elements["name"].value;

				$.ajax({
					url:`/artist/${a_name}`,
					type: 'POST',
					data: {
						track_id: tid,
						favetrack_name: t_name,
						user_id: uid,
						name: a_name
					},
					success: function(data){
						var themsg = data.msg;
						document.getElementById('labelgcenter').innerHTML = themsg;
						document.getElementById('labelgcenter2').innerHTML = themsg;
					},
					error: function(){
						console.log("Didn't Work");
					}
				});//ajax

				



				});//click event
			});//class selector
		});//doc ready