extends index2

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	- var message = msg;
	br
	script.
		document.addEventListener('play', function(e){
		var audios = document.getElementsByTagName('audio');
		var curindex = e.target.id;

		var loadmsg = document.getElementById(`result${curindex-10000}`);
		loadmsg.innerHTML = "Loading...";
		for(var i = 0, len = audios.length; i < len;i++){
		if(audios[i] != e.target){
		audios[i].pause();
		var theid = (audios[i].id-10000);
		var loadmsg = document.getElementById(`result${theid}`);
		loadmsg.innerHTML = "";
		
		}
		}
		}, true);
	.artisth1
		h1 #{artist_name}
	.middlecontain
		.searchcontainart
			.searchformart
				.downloadbutton
					.bigboldtext Tune Search
				form#searchy3(method='POST')
					.downloadbutton
						input#search_results(type='text', name='search_results' placeholder="Enter Track Name...")
					div
						input#a_name(type='hidden', name='a_name', value=`${artist_name}`)
					#test
						img(border='2', alt='back', src='../../Images/PageIMG/tunesearch.png', height='50')
					.downloadbutton
						a(id='reload', href=`https://riddim-archive.herokuapp.com/artist/${artist_name}`)
							img(border='2', alt='Reload', src='../../Images/PageIMG/reloadt.png', height='50')
					#labelgcenter #{message}
		.artistpage
			img(src=`../Images/Logos/${artist_name}.jpg`, alt="ADD ARTIST IMG HERE", height='275', width='275')
		.searchcontainart
			.searchformart
				.bigboldtext2 Support The Artist!
					.downloadbutton
						.links
							a(id='fb', href=`https://facebook.com`)
								img(border='2', alt='fb', src='../../Images/PageIMG/fb.png', height='150', width='150')
							a(id='sc', href=`https://soundcloud.com`)
								img(border='2', alt='sc', src='../../Images/PageIMG/sound.png', height='150', width='150')
							a(id='bc', href=`https://bandcamp.com`)
								img(border='2', alt='sc', src='../../Images/PageIMG/band.png', height='150', width='150')
							a(id='insta', href=`https://instagram.com`)
								img(border='2', alt='sc', src='../../Images/PageIMG/insta.png', height='150', width='150')
					

		
	.artistinfo
		h3 #{info}
	- var x = tracks;
	- var userid = currentuserid;
	- var test = `${artist_name}`;

	#ulcontain
		each track, index in x
			.uldiv
				ul
					li.tunetext= `${track.original_artist}${track.track_name}${track.blank}`
					.regaudio
						audio(id=`${index+10000}`, src=track.drive_url, type='audio/mpeg', controls='', preload='none')
					.downloadbutton
						a(href=track.drive_url)
							img(border='2', alt='Download Tune', src='../Images/PageIMG/download2.png', height='50')
						form(id=`form ${index}`, method='POST')
							input#track_id.form-control(type='hidden', name='track_id', value=`${track.id}`)
							
							input#favetrack_name.form-control(type='hidden', name='favetrack_name', value=`${track.track_name}`)
							
							input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
							
							input#name.form-control(type='hidden', name='name', value=`${artist_name}`)
							img(id=`${index}`, class='favebuttonclass', border='2', alt='back', src='../Images/PageIMG/addfave.png', height='50')
					div(id=`result${index}`)
					
	#ulcontain2
	script.
		$(document).on("keydown", "form", function(event) { 
			return event.key != "Enter";
		});

		$(document).ready(function() {
			console.log("Doc ready");
			fixLargeText();
			searchAjaxInit();
			faveAjaxInit();
		});

		$(document).ajaxComplete(function () {
			console.log("Ajax Complete");
			//faveAjaxInit();
		});

		function searchAjaxInit() {
			console.log("Search Ajax Init");
			var theform = $('#searchy3');
			var thebutton = $('#test');
			thebutton.click(function (ev) {
			ev.preventDefault();
			$.ajax({
			url:'/tunesearch',
			type: 'POST',
			data: theform.serialize(),
			success: function(data){

				var themsg = data.msg;
				document.getElementById('labelgcenter').innerHTML = themsg;
				var reloadlist = data.reloadlist;

				if (reloadlist == 1){

					var oldlist = document.getElementsByClassName("uldiv");
					const len = oldlist.length;
					for (var i = 0; i < len; i++){
						var element = oldlist[(oldlist.length - 1)].parentNode;
						element.removeChild(oldlist[(oldlist.length - 1)]);
					}
					var tracks = data.tracks;
					for (var i = 0; i < tracks.length; i++){
						//set container, everything will added within
						var thecontainer = document.getElementById('ulcontain2');

						var newdiv = document.createElement('div');
						newdiv.setAttribute('class', 'uldiv');

						var newul = document.createElement('ul');

						//Track Name Line
						var textli = document.createElement('li');
						textli.setAttribute('class', 'tunetext');
						textli.innerHTML = `${tracks[i].original_artist}${tracks[i].track_name}${tracks[i].blank}`

						//audio div
						var audiodiv = document.createElement('div');
						audiodiv.setAttribute('class', 'regaudio');

						//audio element
						var newaudio = document.createElement('audio');
						newaudio.setAttribute('src', `${tracks[i].drive_url}`);
						newaudio.setAttribute('type', 'audio/mpeg');
						newaudio.setAttribute('controls', '');
						newaudio.setAttribute('preload', 'none');
						newaudio.setAttribute('id', `${i+10000}`);

						//download div
						var downloaddiv = document.createElement('div');
						downloaddiv.setAttribute('class', 'downloadbutton');

						//download link
						var downlink = document.createElement('a');
						downlink.setAttribute('href', `${tracks[i].drive_url}`);

						//download image
						var downimage = document.createElement('img');
						downimage.setAttribute('border', '2');
						downimage.setAttribute('alt', 'Download Tune');
						downimage.setAttribute('src', '../Images/PageIMG/download2.png');
						downimage.setAttribute('height', '50');

						//form
						var zeform = document.createElement('form');
						zeform.setAttribute('method', 'POST');
						zeform.setAttribute('id', `form ${i}`);
						zeform.setAttribute('action', `/artist/${tracks[i].artist_name}`);

						//form inputs:
						var trackidinput = document.createElement('input');
						trackidinput.setAttribute('id', 'track_id');
						trackidinput.setAttribute('class', 'form-control');
						trackidinput.setAttribute('type', 'hidden');
						trackidinput.setAttribute('name', 'track_id');
						trackidinput.setAttribute('value', `${tracks[i].id}`);

						var tracknameinput = document.createElement('input');
						tracknameinput.setAttribute('id', 'favetrack_name');
						tracknameinput.setAttribute('class', 'form-control');
						tracknameinput.setAttribute('type', 'hidden');
						tracknameinput.setAttribute('name', 'favetrack_name');
						tracknameinput.setAttribute('value', `${tracks[i].track_name}`);

						var useridinput = document.createElement('input');
						useridinput.setAttribute('id', 'user_id');
						useridinput.setAttribute('class', 'form-control');
						useridinput.setAttribute('type', 'hidden');
						useridinput.setAttribute('name', 'user_id');
						useridinput.setAttribute('value', `${data.currentuserid}`);

						var artistnameinput = document.createElement('input');
						artistnameinput.setAttribute('id', 'name');
						artistnameinput.setAttribute('class', 'form-control');
						artistnameinput.setAttribute('type', 'hidden');
						artistnameinput.setAttribute('name', 'name');
						artistnameinput.setAttribute('value', `${tracks[i].artist_name}`);

						var submitimage = document.createElement('img');
						submitimage.setAttribute('id', `${i}`);
						submitimage.setAttribute('class', 'favebuttonclass');
						submitimage.setAttribute('border', '2');
						submitimage.setAttribute('alt', 'back');
						submitimage.setAttribute('height', '50');
						submitimage.setAttribute('src', '../Images/PageIMG/addfave.png');

						//finishing form
						zeform.appendChild(trackidinput);
						zeform.appendChild(tracknameinput);
						zeform.appendChild(useridinput);
						zeform.appendChild(artistnameinput);
						zeform.appendChild(submitimage);

						//finishing download
						downlink.appendChild(downimage);
						downloaddiv.appendChild(downlink);
						downloaddiv.appendChild(zeform);

						//finishing audio
						audiodiv.appendChild(newaudio);

						//added label
						var labeldiv = document.createElement('div');
						labeldiv.setAttribute('id', `result${i}`);

						//final appends
						newul.appendChild(textli);
						newul.appendChild(audiodiv);
						newul.appendChild(downloaddiv);
						newul.appendChild(labeldiv);
						newdiv.appendChild(newul);

						//insert into page
						thecontainer.appendChild(newdiv);
						

					}
				faveAjaxInit();
				fixLargeText();
				}//end if, reloading page elements within
			
			},
			error: function(){
			console.log("Didn't Work");
			var msg = "Something went Wrong, Please Refresh Page and try Again";
			document.getElementById('labelgcenter').innerHTML = themsg;
			
			}
			});//ajax
			});//submit
		}//searchajaxinit
		
		function faveAjaxInit() {
			console.log("fave Ajax Init");
			document.querySelectorAll('.favebuttonclass').forEach(item => {
				item.addEventListener('click', event => {
				var theform = document.getElementById(`form ${item.id}`);
				console.log(theform);
				var tid = theform.elements["track_id"].value;
				var t_name = theform.elements["favetrack_name"].value;
				var uid = theform.elements["user_id"].value;
				var a_name = theform.elements["name"].value;
				var index = item.id;

				$.ajax({
					url:`/artist/${a_name}`,
					type: 'POST',
					data: {
						track_id: tid,
						favetrack_name: t_name,
						user_id: uid,
						name: a_name,
						index: index
					},
					success: function(data){
						var themsg = data.msg;
						var theindex = data.index;
						document.getElementById(`result${theindex}`).innerHTML = themsg;

					},
					error: function(){
						console.log("Didn't Work");
					}
				});//ajax

				});//click event
			});//class selector
		}//fave ajax init

		function fixLargeText() {
			console.log("fix Large Init");
			document.querySelectorAll('.tunetext').forEach(item => {
					if(item.innerHTML.length > 40){
						item.setAttribute('class', 'tunetextsmaller');
					}
			});
		}