extends index2

block content
	h1 #{artist_name}
	br
	button(onclick='goBack()') Go Back
	script.
		function goBack() {
		window.history.back();
		}
	br
	br

	- var x = tracks;
	#divy

	script
		for (var i = 0; i < x.length; i++) {
    		document.getElementById("divy").innerHTML += index + ":" + x[i].track_name + "<br>";
		}
	
	ul
		each track in x
			.uldiv
				li.tunetext= `${track.artist_name} - ${track.track_name}`
				audio(src=track.drive_url, type='audio/mpeg', controls='')
					code audio 
				a(href=track.drive_url) Download Tune
			