extends index2

block content
	br
	script.
		document.addEventListener('play', function(e){
		var audios = document.getElementsByTagName('audio');
		for(var i = 0, len = audios.length; i < len;i++){
		if(audios[i] != e.target){
		audios[i].pause();
		}
		}
		}, true);
	.artisth1
		h1 #{artist_name}
	.artistpage
		img(src=`../Images/Logos/${artist_name}.jpg`, alt="ADD ARTIST IMG HERE", height='275', width='275')
	br
	.artistinfo
		h3 #{info}
	br
	br
	br
	script.
		$('h1').hide();


	- var x = tracks;
	- var test = x[1].id;
	- var userid = currentuserid;
	- var newid = [];

	h1 #{test}
	h2 above is track 2 id

	.ulcontain
		each track in x
			ul
				.uldiv
					li.tunetext= `${track.track_name} - ${track.id} - ${userid}`
					.regaudio
						audio(src=track.drive_url, type='audio/mpeg', controls='') Sorry Bruv, Your Browser Can't Play dis chune!
					li.tunetext= `       `
					.downloadbutton
						a(href=track.drive_url)
							img(border='0', alt='Download Tune', src='../Images/PageIMG/download.png', height='50')
						form(method='POST' action=`/artist/${artist_name}/#`)
							div.form-group
								input#track_id.form-control(type='hidden', name='track_id', value=`${track.id}`)
							div.form-group
								input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
							div.form-group
								input#name.form-control(type='hidden', name='name', value=`${artist_name}`)
							div
								input(type='submit', value='Add Favorite')
					li.tunetext= `  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­ `
					a(href="")  
	p TEST thing let's see if this works.