extends index2

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	- var message = msg;
	- var x = tracks;
	- var userid = currentuserid;
	- var test = `${artist_name}`;

	- var shuffleart = randartistname;
	- var shuffletrack = randtrackname;
	- var shuffleurl = randdriveurl;
	- var shuffleid = randtrackid;
	- var shuf = shuftext;
	div(title='0', id='loopvalue')
	div(title='0', id='contvalue')

	script.
		document.addEventListener('play', function(e){
			var audios = document.getElementsByTagName('audio');
			var curindex = e.target.id;

			if (curindex == "shufaudio"){
				document.getElementById('loadtext').innerHTML= "Loading...";
			}else{
				var theplayingul = document.getElementById(`${curindex-10000}/uldiv`);
				theplayingul.style.backgroundColor = "greenyellow";

				var loadmsg = document.getElementById(`result${curindex-10000}`);
				loadmsg.innerHTML = "Loading...";
			}

			for(var i = 0, len = (audios.length); i < len;i++){
				if(audios[i] != e.target){
					audios[i].pause();
					if (audios[i].src == "" || audios[i].id == "shufaudio"){
						//skip
					}else{
						var notplayingul = "";
						notplayingul = document.getElementById(`${i-1}/uldiv`);
						notplayingul.style.backgroundColor = "dodgerblue";

						var theid = (audios[i].id-10000);
						var loadmsg = document.getElementById(`result${theid}`);
						loadmsg.innerHTML = "";
					}
				}
			}
		}, true);

	.downloadbuttonhidden
		.custombutton
			a(href='../../tuneup')
				img(border='2' src='../../Images/PageIMG/myuploadpage.png' alt='../../Images/PageIMG/fail.png' height='50')
	
	.artisth1
		h1#theh1 #{artist_name}

	.middlecontain
		.searchcontainart
			.searchformart
				.downloadbutton
					.bigboldtext Tune Search
				form#searchy3(method='POST')
					.downloadbutton
						input#search_results(type='text', name='search_results' placeholder="Enter Track Name...")
					div
						input#a_name(type='hidden', name='a_name', value=`${artist_name}`)
					div(id='test', class='custombutton')
						img(border='2', alt='back', src='../../Images/PageIMG/tunesearch.png', height='50')
					.downloadbutton
						.custombutton
							a(id='reload', href=`https://www.riddimarchive.com/artist/${artist_name}`)
								img(border='2', alt='Reload', src='../../Images/PageIMG/reloadt.png', height='50')
					#labelgcenter3 #{message}
		.artistpage
			img(src=`${img_url}`, alt="ADD ARTIST IMG HERE", height='275', width='275')
		#linkscontainart
			#linksformart
				#supportseg
					.downloadbutton
						.bigboldtext3 Support The Artist!
					.downloadbutton
						div(class='links',style="margin-bottom: 1.7em;")
							a(id='thefb', class=`${fb}`, href=`${fb}`)
								img(id='thefbimg', border='0', alt='fb', src='../../Images/PageIMG/fb.png', height='100', width='100')
							a(id='thesc',  class=`${sc}`, href=`${sc}`)
								img(id='thescimg', border='0', alt='sc', src='../../Images/PageIMG/sound.png', height='100', width='100')
							a(id='thebc',  class=`${bc}`, href=`${bc}`)
								img(id='thebcimg', border='0', alt='bc', src='../../Images/PageIMG/band.png', height='100', width='100')
							a(id='thebeat',  class=`${beat}`, href=`${beat}`)
								img(id='thebeatimg', border='0', alt='beat', src='../../Images/PageIMG/beat.png', height='100', width='100')
							a(id='theinsta',  class=`${insta}`, href=`${insta}`)
								img(id='theinstaimg', border='0', alt='insta', src='../../Images/PageIMG/insta.png', height='100', width='100')
				#followcontain.downloadbutton
					img(id=`${artist_name}/${userid}/${artid}`, class='followbtn', border='2', alt='Follow Artist', src=`../Images/PageIMG/${following}.png`, height='50')
				#labelgcenter2black.downloadbutton
		.shufflecontainartpage
			.downloadbutton
				.bigboldtext #{artist_name}
			.downloadbutton
				div(class='bigboldtext', style="margin-top: 0px;") Shuffle Player
			#shuftext
				text.boldtext= `${shuf}`
			.downloadbutton
				audio(id=`shufaudio`, type='audio/mpeg', controls='', preload='none')
					source(id='shufaudiosrc' src=`${shuffleurl}`)
				img(border='2', class='tinybutton', id='loopbutton', alt='loop', src='../Images/PageIMG/loop.png', height='40', width='40')
				img(border='2', class='tinybutton', id='contbutton', alt='continue', src='../Images/PageIMG/continuetest.png', height='40')
			#iosspaceralwayson
			.downloadbutton
				.custombutton
					a(id='shufdownloadbutton', href=`${shuffleurl}`)
						img(border='2', alt='Download Tune', src='../../Images/PageIMG/download2.png', height='50')
				.custombutton
					form(id='shuffaveform', method='POST')
						input#shuftrack_id.form-control(type='hidden', name='track_id', value=`${shuffleid}`)
						input#shuffavetrack_name.form-control(type='hidden', name='favetrack_name', value=`${shuffletrack}`)
						input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
						input#shufname.form-control(type='hidden', name='name', value=`${shuffleart}`)
						img(id='shuffave', class='shuffavebuttonclass', border='2', alt='back', src='../../Images/PageIMG/addfave.png', height='50')
			.downloadbutton
				.custombutton
					#shuffleforward
						img(border='2', alt='back', src='../../Images/PageIMG/forward2.png', height='50')
			#loadtext.boldtext



	.artistinfo
		h3#theh3 #{info}
	.middlecontain
		.searchcontain2
			.pagedownloadbutton
				.custombutton
					img(id=`atod/${artist_name}`, class='pageclass', border='2', alt='back', src='../Images/PageIMG/athroughd.png', height='50')
				.custombutton
					img(id=`etoi/${artist_name}`, class='pageclass', border='2', alt='back', src='../Images/PageIMG/ethroughi.png', height='50')
				.custombutton
					img(id=`jtoo/${artist_name}`, class='pageclass', border='2', alt='back', src='../Images/PageIMG/jthrougho.png', height='50')
				.custombutton
					img(id=`ptot/${artist_name}`, class='pageclass', border='2', alt='back', src='../Images/PageIMG/pthrought.png', height='50')
				.custombutton
					img(id=`utoz/${artist_name}`, class='pageclass', border='2', alt='back', src='../Images/PageIMG/uthroughz.png', height='50')

	#myModal.modal
		#modalspacer
		.modal-content
			img(class='close', border='2', alt='back', src='../Images/PageIMG/close.png', height='70')
			.artisth1
				h1#commenttitle Insert Track Name Here
			.cmtcontainart
				.cmtformart
					form#cmtaddform(method='POST')
						.downloadbutton
							input#cmt(type='text', name='cmt' placeholder="Add Comment here...")
							input#extra.form-control(type='hidden', name='extra', value=`${userid}`)
						.downloadbutton
							div(id='cmtsubmit', class='custombutton')
								img(border='2', alt='back', src='../../Images/PageIMG/addcmt.png', height='50')
				.downloadbutton
					div(id=`cmtmessage`, class='downloadbuttonwithbold')
			br
			div(id='allcomments') 
			div(id='commentnextindex') 0
			div(id='inpagecommentposted')
			div(id='artnamediv' title=`${shuffleart}`)
	#delmessage

	#ulcontain
		each track, index in x
			.uldiv(id=`${index}/uldiv`)
				ul
					.downloadbutton
						li.tunetext= `${track.track_name}`
					.regaudio
						audio(id=`${index+10000}`, src=track.drive_url, type='audio/mpeg', controls='', preload='none')
					#iosspacer
					.downloadbutton
						.custombutton
							a(href=track.drive_url)
								img(border='2', alt='Download Tune', src='../Images/PageIMG/download2.png', height='50')
						.custombutton
							form(id=`form ${index}`, method='POST')
								input.form-control(id=`track_id${index}`, type='hidden', name=`track_id${index}`, value=`${track.id}`)
								
								input.form-control(id=`favetrack_name${index}`, type='hidden', name=`favetrack_name${index}`, value=`${track.track_name}`)
								
								input.form-control(id=`user_id${index}`, type='hidden', name=`user_id${index}`, value=`${userid}`)
								
								input.form-control(id=`name${index}`, type='hidden', name=`name${index}`, value=`${artist_name}`)
								img(id=`${index}`, class='favebuttonclass', border='2', alt='back', src='../Images/PageIMG/addfave.png', height='50')
					.downloadbutton
						img(id=`${index}/${track.track_name}/${track.id}`, class='commentbutton', border='2', alt='back', src='../Images/PageIMG/comments.png', height='50')

						img(id=`${index}/${track.id}/${userid}/${track.userhearted}`, class='heartbutton', border='0', alt='back', src=`../Images/PageIMG/heart${track.userhearted}.png`, height='50')
						div(id=`${index}/numheart`, class='numheart')= `${track.hearts.length}`

						input(id=`sharelink${track.id}`, class='sharelink', readonly="readonly", type='text', name='sharelink', value=`https://www.riddimarchive.com/share/${track.id}`)
						img(id=`${index}/${track.id}`, class='sharebutton', border='0', alt='back', src=`../Images/PageIMG/share.png`, height='50')
					.downloadbuttonhidden
						img(id=`delete/${index}/${track.id}/${artist_name}`, class='deletebutton', border='2', alt='back', src='../Images/PageIMG/trackdelete.png', height='50', style="margin-top: 0.5em;")
						
					div(id=`result${index}`, class='downloadbuttonwithbold')
					
	#ulcontain2


	.downloadbuttonhidden
		.custombutton
			a(href='../../tuneup')
				img(border='2' src='../../Images/PageIMG/myuploadpage.png' alt='../../Images/PageIMG/fail.png' height='50')

	script.
		$(document).on("keydown", "form", function(event) { 
			return event.key != "Enter";
		});

		$(document).bind("keydown keypress", function(e){
			if( e.which == 8 ){ // 8 == backspace
				if(e.target.readOnly ){
					e.preventDefault();
				}
			}
		});

		$(document).ready(function() {
			console.log("Doc ready");
			isArtistCheck();
			shufloopandcontinueInit();
			forwardAjaxInit();
			fixLargeText();
			searchAjaxInit();
			faveAjaxInit();
			shufflefaveAjaxInit();
			heartAjaxInit();
			shareInit();
			followInit();
			pageAjaxInit();
			commentInit();
			removeUnusedLinks();
		});

		window.onload = function(){
			//removeUnusedLinks();
		};

		$(document).ajaxComplete(function () {
			console.log("Ajax Complete");
			//faveAjaxInit();
		});

		function isArtistCheck(){
			var usr = document.getElementById('extra').value;
			if (usr !== ""){
				var artname = document.getElementById('theh1').innerHTML;
				var usrid = parseInt(usr);
			
				$.ajax({
				url:'/isArtistCheck',
				type: 'POST',
				data: {
					artname: artname,
					usrid: usrid
				},
				success: function(data){
					if(data.isArtist == 1){
						document.querySelectorAll('.downloadbuttonhidden').forEach(item => {
							item.style.display = "flex";
						});

						deleteInit();
					}
				},
				error: function(){
				console.log("Didn't Work");
				}
				});//ajax
			}
		}

		function shufloopandcontinueInit(){
			var shuffy = document.getElementById('shufaudio');
			shuffy.onended = function() {
				var curloopvalue = document.getElementById('loopvalue').title;
				var curcontvalue = document.getElementById('contvalue').title;
				if (curloopvalue == 0){
				//do nothing
				}else{
				if(curcontvalue == 0){
					shuffy.pause();
					shuffy.currentTime = 0;
					shuffy.play();
				}
				}

				if(curcontvalue != 0){

					document.getElementById('loadtext').innerHTML= "Loading...";
					var theform = document.getElementById('shuffaveform');
					a_name = document.getElementById("artnamediv").title;

					if (a_name != ""){

						$.ajax({
						url:'/forwardart',
						type : 'POST',
						data: {
							artist_name: a_name,
						},
						success: function(data){
							var thetext = document.createElement('text');
							thetext.setAttribute('class', 'boldtext');
							thetext.innerHTML = `${data.shuftext}`;
							var shuffy = document.getElementById('shuftext');
							shuffy.innerHTML= "";
							shuffy.appendChild(thetext);

							var idfield = document.getElementById('shuftrack_id');
							var tracknamefield = document.getElementById('shuffavetrack_name');
							var artistnamefield = document.getElementById('shufname');
							idfield.setAttribute('value', `${data.id}`);
							tracknamefield.setAttribute('value', `${data.track_name}`);
							artistnamefield.setAttribute('value', `${data.artist_name}`);


							var downbutton = document.getElementById('shufdownloadbutton');
							downbutton.setAttribute('href', `${data.source}`);
							document.getElementById('shufaudiosrc').src = `${data.source}`;

							var audiop = document.getElementById('shufaudio');
							audiop.load();
							var playPromise = audiop.play();
							if (playPromise !== undefined) {
								playPromise.then(_ => {
							})
							.catch(error => {
							});
							}
							audioFinishedCheck();
						},
						error: function(){
						console.log("Didn't Work");
						}
						});

					}
				}
			};

			document.getElementById('loopbutton').addEventListener('click', changeValue);
			function changeValue(e){
				var curvalue = document.getElementById('loopvalue').title;
				var contvalue = document.getElementById('contvalue').title;
				if (curvalue == 0){
					if (contvalue == 0){
						document.getElementById('loopvalue').title = 1;
						var img = document.getElementById('loopbutton');
						img.src = '../Images/PageIMG/loop1.png';
					}else{
						//remove cont
						document.getElementById('contvalue').title = 0;
						var theimg = document.getElementById('contbutton');
						theimg.src = '../Images/PageIMG/continuetest.png';


						document.getElementById('loopvalue').title = 1;
						var img = document.getElementById('loopbutton');
						img.src = '../Images/PageIMG/loop1.png';
					}
				}
				else{
					document.getElementById('loopvalue').title = 0;
					var theimg = document.getElementById('loopbutton');
					theimg.src = '../Images/PageIMG/loop.png';
				}
			}

			document.getElementById('contbutton').addEventListener('click', contchangeValue);
			function contchangeValue(e){
				var curvalue = document.getElementById('contvalue').title;
				var loopvalue = document.getElementById('loopvalue').title;
				if (curvalue == 0){
					if(loopvalue == 0){
						document.getElementById('contvalue').title = 1;
						var img = document.getElementById('contbutton');
						img.src = '../Images/PageIMG/continuetest1.png';
					}else{
						//remove loop
						document.getElementById('loopvalue').title = 0;
						var loopimg = document.getElementById('loopbutton');
						loopimg.src = '../Images/PageIMG/loop.png';

						document.getElementById('contvalue').title = 1;
						var img = document.getElementById('contbutton');
						img.src = '../Images/PageIMG/continuetest1.png';
					}
				}
				else{
					document.getElementById('contvalue').title = 0;
					var theimg = document.getElementById('contbutton');
					theimg.src = '../Images/PageIMG/continuetest.png';
				}
			}

		}

		function deleteInit(){

			console.log("delete init");
			document.querySelectorAll('.deletebutton').forEach(item => {
				item.addEventListener('click', event => {
				var thestring = item.id;
				var splitty = thestring.split("/");
				var index = splitty[1];
				var track_id = splitty[2];
				var art_name = splitty[3];

				$.ajax({
					url:`/artistpagedeletetrack`,
					type: 'POST',
					data: {
						index: index,
						track_id: track_id,
						art_name: art_name
					},
					success: function(data){
							console.log("Deleted?");
							if(data.verified == 0){
								console.log("Access Denied");
							}else{
								var thetrack = document.getElementById(`${data.index}/uldiv`);
								thetrack.innerHTML = "";
								thetrack.style.display = "none";
								var delmsg = document.getElementById(`delmessage`);
								delmsg.innerHTML = "Track Deleted!"
								delmsg.style.display = "flex";
							}
					},
					error: function(){
						console.log("Didn't Work");
					}
				});//ajax

				});//click event
			});//class selector

		}

		function forwardAjaxInit() {
			console.log("Forward Ajax Init");
			document.getElementById('shuffleforward').addEventListener('click', makeNextRequest);
			function makeNextRequest(e){
				document.getElementById('loadtext').innerHTML= "Loading...";
				var theform = document.getElementById('shuffaveform');
				a_name = document.getElementById("artnamediv").title;

				if (a_name != ""){

					$.ajax({
					url:'/forwardart',
					type : 'POST',
					data: {
						artist_name: a_name,
					},
					success: function(data){
						var thetext = document.createElement('text');
						thetext.setAttribute('class', 'boldtext');
						thetext.innerHTML = `${data.shuftext}`;
						var shuffy = document.getElementById('shuftext');
						shuffy.innerHTML= "";
						shuffy.appendChild(thetext);

						var idfield = document.getElementById('shuftrack_id');
						var tracknamefield = document.getElementById('shuffavetrack_name');
						var artistnamefield = document.getElementById('shufname');
						idfield.setAttribute('value', `${data.id}`);
						tracknamefield.setAttribute('value', `${data.track_name}`);
						artistnamefield.setAttribute('value', `${data.artist_name}`);


						var downbutton = document.getElementById('shufdownloadbutton');
						downbutton.setAttribute('href', `${data.source}`);
						document.getElementById('shufaudiosrc').src = `${data.source}`;

						var audiop = document.getElementById('shufaudio');
						audiop.load();
						var playPromise = audiop.play();
						if (playPromise !== undefined) {
							playPromise.then(_ => {
						})
						.catch(error => {
						});
						}
						audioFinishedCheck();
					},
					error: function(){
					console.log("Didn't Work");
					}
					});

				}else{
					document.getElementById('loadtext').innerHTML= "No tracks!";
				}

			}
		}

		function audioFinishedCheck() {
			var audiop = document.getElementById('shufaudio');
			audiop.addEventListener('playing',function() { document.getElementById('loadtext').innerHTML= ""; });
		}

		function searchAjaxInit() {
			console.log("search init");
			var theform = $('#searchy3');
			var thebutton = $('#test');
			thebutton.click(function (ev) {
			ev.preventDefault();
			$.ajax({
			url:'/tunesearch',
			type: 'POST',
			data: theform.serialize(),
			success: function(data){

				var themsg = data.msg;
				document.getElementById('labelgcenter3').innerHTML = themsg;
				var reloadlist = data.reloadlist;

				if (reloadlist == 1){

					var oldlist = document.getElementsByClassName("uldiv");
					const len = oldlist.length;
					for (var i = 0; i < len; i++){
						var element = oldlist[(oldlist.length - 1)].parentNode;
						element.removeChild(oldlist[(oldlist.length - 1)]);
					}
					var tracks = data.tracks;
					for (var i = 0; i < tracks.length; i++){
						appendNewTrackList(tracks, data.currentuserid, i);
					}
				faveAjaxInit();
				commentInit();
				shareInit();
				heartAjaxInit();
				fixLargeText();
				}//end if, reloading page elements within
			
			},
			error: function(){
			console.log("Didn't Work");
			}
			});//ajax
			});//submit
		}//searchajaxinit
		
		function faveAjaxInit() {
			console.log("fave init");
			document.querySelectorAll('.favebuttonclass').forEach(item => {
				item.addEventListener('click', event => {
				var theform = document.getElementById(`form ${item.id}`);
				var tid = theform.elements[0].value;
				var t_name = theform.elements[1].value;
				var uid = theform.elements[2].value;
				var a_name = theform.elements[3].value;
				var index = item.id;

				$.ajax({
					url:`/artist/${a_name}`,
					type: 'POST',
					data: {
						track_id: tid,
						favetrack_name: t_name,
						user_id: uid,
						name: a_name,
						index: index
					},
					success: function(data){
						var themsg = data.msg;
						var theindex = data.index;
						document.getElementById(`result${theindex}`).innerHTML = themsg;
					},
					error: function(){
						console.log("Didn't Work");
					}
				});//ajax

				});//click event
			});//class selector
		}//fave ajax init

		function shufflefaveAjaxInit() {
			console.log("shuffle fave Ajax Init");
			document.querySelectorAll('.shuffavebuttonclass').forEach(item => {
			item.addEventListener('click', event => {
				console.log("shufclicked");
			var tid = "";
			var t_name = "";
			var a_name = "";

			var theform = document.getElementById('shuffaveform');
			tid = theform.elements["shuftrack_id"].value;

			if (tid != ""){
				t_name = theform.elements["shuffavetrack_name"].value;
				a_name = theform.elements["shufname"].value;

				var uid = theform.elements["user_id"].value;
				var index = item.id;

				console.log(`${tid}, ${t_name}, ${a_name}, ${uid}, ${index}`);

				$.ajax({
				url:'/homepagefave',
				type: 'POST',
				data: {
					track_id: tid,
					favetrack_name: t_name,
					user_id: uid,
					name: a_name,
					index: index
				},
				success: function(data){
					var themsg = data.msg;
					var theindex = data.index;
					if (theindex == 'shuffave'){
					document.getElementById('loadtext').innerHTML= themsg;
					}else{
					document.getElementById(`result${theindex}`).innerHTML = themsg;
					}
				},
				error: function(){
					console.log("Didn't Work");
				}
				});//ajax

			}

			});//click event
		});//class selector
		}//fave ajax init

		function followInit(){
			console.log("follow init");
			document.querySelectorAll('.followbtn').forEach(item => {
				item.addEventListener('click', event => {
					var thestring = item.id;
					var splitty = thestring.split("/");
					var art_name = splitty[0];
					var user_id = splitty[1];
					var artid = splitty[2];

					if(user_id !== ""){
						console.log(`item src = ${item.src}`);
						if(item.src == 'https://www.riddimarchive.com/Images/PageIMG/follow0.png'){
								$.ajax({
									url:'/followartist',
									type: 'POST',
									data: {
										art_name: art_name,
										user_id: user_id,
										artid: artid
									},
									success: function(data){
										var followcontain = document.getElementById('followcontain');
										followcontain.innerHTML = `<img class="followbtn" id="${data.art_name}/${data.user_id}/${data.artid}" border="2" alt="Follow Artist" src="https://www.riddimarchive.com/Images/PageIMG/follow1.png" height="50" />`
										document.getElementById(`labelgcenter2black`).innerHTML = `Followed!`;
										followInit();
									},
									error: function(){
										console.log("Didn't Work");
									}
								});
						}else{
								$.ajax({
									url:'/unfollowartist',
									type: 'POST',
									data: {
										art_name: art_name,
										user_id: user_id,
										artid: artid
									},
									success: function(data){
										var followcontain = document.getElementById('followcontain');
										followcontain.innerHTML = `<img class="followbtn" id="${data.art_name}/${data.user_id}/${data.artid}" border="2" alt="Follow Artist" src="https://www.riddimarchive.com/Images/PageIMG/follow0.png" height="50" />`
										document.getElementById(`labelgcenter2black`).innerHTML = `Unfollowed!`;
										followInit();
									},
									error: function(){
										console.log("Didn't Work");
									}
								});
						}

					}else{
						document.getElementById(`labelgcenter2black`).innerHTML = "Please Login to Follow Artist";
					}
				});//click event
			});//class selector
		}

		function heartAjaxInit() {
			console.log("heart init");
			document.querySelectorAll('.heartbutton').forEach(item => {
				item.addEventListener('click', event => {
					var thestring = item.id;
					var splitty = thestring.split("/");
					var index = splitty[0];
					var track_id = splitty[1];
					var user_id = splitty[2];
					var hearted = splitty[3];
					if(user_id !== ""){

						if(hearted == 0){
							$.ajax({
								url:'/addheart',
								type: 'POST',
								data: {
									index: index,
									track_id: track_id,
									user_id: user_id
								},
								success: function(data){
									//changing img
									var theindex = data.index;
									var heartimg = document.getElementById(`${theindex}/${data.track_id}/${data.user_id}/0`);
									heartimg.setAttribute('src', '../Images/PageIMG/heart1.png');
									heartimg.setAttribute('id', `${theindex}/${data.track_id}/${data.user_id}/1`);

									//adding one to number
									var test = document.getElementById(`${theindex}/numheart`);
									var str = test.innerHTML.toString();
									var theint = parseInt(str);
									test.innerHTML = (theint + 1);

								},
								error: function(){
									console.log("Didn't Work");
								}
							});//ajax
						}else{
							$.ajax({
								url:'/removeheart',
								type: 'POST',
								data: {
									index: index,
									track_id: track_id,
									user_id: user_id
								},
								success: function(data){
									//changing img
									var theindex = data.index;
									var heartimg = document.getElementById(`${theindex}/${data.track_id}/${data.user_id}/1`);
									heartimg.setAttribute('src', '../Images/PageIMG/heart0.png');
									heartimg.setAttribute('id', `${theindex}/${data.track_id}/${data.user_id}/0`);

									//adding one to number
									var test = document.getElementById(`${theindex}/numheart`);
									var str = test.innerHTML.toString();
									var theint = parseInt(str);
									test.innerHTML = (theint - 1);
								},
								error: function(){
									console.log("Didn't Work");
								}
							});//ajax
						}
					}else{
						document.getElementById(`result${index}`).innerHTML = "Please Login to Like Tune!";
					}

				});//click event
			});//class selector
		}//heartinit

		function shareInit() {
			console.log("share init");
			document.querySelectorAll('.sharebutton').forEach(item => {
				item.addEventListener('click', event => {
					var thestring = item.id;
					var splitty = thestring.split("/");
					var index = splitty[0];
					var track_id = splitty[1];

					var theinput = document.getElementById(`sharelink${track_id}`);
					theinput.select();
					theinput.setSelectionRange(0, 99999);
					document.execCommand("copy");
					window.getSelection().removeAllRanges();

					document.getElementById(`result${index}`).innerHTML = "Share Link Copied!";
				});//click event
			});//class selector
		}//shareInit

		function pageAjaxInit() {
			console.log("page Ajax Init");
			document.querySelectorAll('.pageclass').forEach(item => {
				item.addEventListener('click', event => {
					var thestring = item.id;
					var splitty = thestring.split("/");
					var theid = splitty[0];
					var artist_name = splitty[1];
					var page = 6;
					if (theid == 'atod'){
						page = 0;
					}
					if (theid == 'etoi'){
						page = 1;
					}
					if (theid == 'jtoo'){
						page = 2;
					}
					if (theid == 'ptot'){
					page = 3;
					}
					if (theid == 'utoz'){
					page = 4;
					}

					$.ajax({
					url:'/pagetracks',
					type: 'POST',
					data: {
					pagey: page,
					artist_name: artist_name
					},
					success: function(data){
						if(data.donothing == 1){
							console.log("Doing NOthing lol");
						}else{
							console.log("Replacing Track List!");
							var oldlist = document.getElementsByClassName("uldiv");
							const len = oldlist.length;
							for (var i = 0; i < len; i++){
								var element = oldlist[(oldlist.length - 1)].parentNode;
								element.removeChild(oldlist[(oldlist.length - 1)]);
						}
							var tracks = data.tracks;
							for (var i = 0; i < tracks.length; i++){
								appendNewTrackList(tracks, data.currentuserid, i);
							}
							faveAjaxInit();
							commentInit();
							shareInit();
							heartAjaxInit();
							fixLargeText();
						}//end do nothing if
					},
					error: function(){
						console.log("Didn't Work");
						var msg = "Something went Wrong, Please Refresh Page and try Again";
						document.getElementById('labelgcenter').innerHTML = themsg;
					}
					});//ajax
				});//click event
			});//class selector
		}//pageinit

		function commentformInit(comlength){
			console.log("commentform init");
			var theform = $('#cmtaddform');
			var thebutton = $('#cmtsubmit');
			thebutton.click(function (ev) {
				console.log("clicked button");
				ev.preventDefault();
				var extrainfoembed = document.getElementById("extra");
				var str = extrainfoembed.value;
				var splitty = str.split("/");
				var theform2 = document.getElementById('cmtaddform');

				if (splitty[0] == "" || theform2.elements[0].value == ""){

					var thecmtmessage = document.getElementById('cmtmessage');
					if (splitty[0] == ""){ thecmtmessage.innerHTML = "Please Log In to Add Comment!"; }
					if (theform2.elements[0].value == ""){ thecmtmessage.innerHTML = "Please Enter Comment!"; }

				}else{
					$.ajax({
						url:'../../addcomment',
						type: 'POST',
						data: theform.serialize(),
						success: function(data){
							document.getElementById('cmtmessage').innerHTML = "Comment Submitted";
							var container = document.getElementById("allcomments");
							var allpreviouscomments = container.innerHTML;
							var commentnextindex = document.getElementById("commentnextindex").innerHTML.toString();
							var theint = parseInt(commentnextindex);

							var commentpostedinpage = document.getElementById("inpagecommentposted").innerHTML.toString();
							var iscommentposted = parseInt(commentpostedinpage);
							
							if (iscommentposted != 1){
								if (comlength > 0){
									console.log("PREVIOUS COMMENTS EXIST");
									theint = comlength;
									document.getElementById("inpagecommentposted").innerHTML = 1
								}
							}

							var newcommentstring = `<div class="newcomment"><div class="fullcomment" id="fullcomment/${theint}"><div class="comuser" id ="comuser/${theint}">${data.username}</div><div class="comcom" id ="comcom/${theint}">${data.cmt}</div><div class="comtime" id ="comtime/${theint}">${data.cmttime}</div><div class="cmtremovebutton" id="cmtremove/${theint}"><img border="2" alt="back" src="../../Images/PageIMG/close.png" height="45" width="45"/></div><div class="comuserid" id ="comuserid/${theint}">${data.user_id}</div></div></div><div class ="space2"></div><br>`;
							container.innerHTML = (newcommentstring + allpreviouscomments);
							allpreviouscomments = "";
							newcommentstring = "";
							var newcmtremovebutton = document.getElementById(`cmtremove/${theint}`);
							newcmtremovebutton.style.display = "block";
							document.getElementById("commentnextindex").innerHTML = (theint + 1);
							removeCommentInit();
						},
						error: function(){
						console.log("Didn't Work");
						}
					});//ajax
				}//else - no user or no comment
			});//submit
		}

		function removeCommentInit(){
			document.querySelectorAll('.cmtremovebutton').forEach(item => {
				var thestring = item.id;
				var splitty = thestring.split("/");
				var index = splitty[1];

				var extrainfoembed = document.getElementById("extra");
				var uid = extrainfoembed.value.split("/");
				var currentuserid = uid[0];
				console.log(`currentuserid is: ${currentuserid}`);

				var cmtusrid = document.getElementById(`comuserid/${index}`).innerHTML;

				if(currentuserid == cmtusrid){
					item.style.display = "block";
				}

				item.addEventListener('click', event => {
					var usernamestr = document.getElementById(`comuser/${index}`).innerHTML;
					var splitty2 = usernamestr.split(" ");
					var username = splitty2[0];

					var thecomment = document.getElementById(`comcom/${index}`).innerHTML;
					console.log(`thecomment is: ${thecomment}`);

					var timestr = document.getElementById(`comtime/${index}`).innerHTML;
					var splitty3 = timestr.split(" - ");
					var datestr = splitty3[0];
					var timestr = splitty3[1];
					var splitty4 = datestr.split("/");
					var month = splitty4[0];
					var day = splitty4[1];
					var year = splitty4[2];
					var thetime = `${year}-${month}-${day} ${timestr}`

					$.ajax({
						url:`/removecmt`,
						type: 'POST',
						data: {
							index: index,
							username: username,
							thecomment: thecomment,
							thetime: thetime
						},
						success: function(data){
							document.getElementById('cmtmessage').innerHTML = `${data.msg}`;
							console.log(`the index is ${data.index}`);
							var thedeletedcmt = document.getElementById(`fullcomment/${data.index}`);
							thedeletedcmt.innerHTML = "";
							thedeletedcmt.style.display = "none";
						},
						error: function(){
							console.log("Didn't Work");
						}
					});//ajax


				});//click event
			});//class selector
		}
		
		function activateModal(modal, span){
			//made modal visible and fix body doc position
			modal.setAttribute('tabindex', '0');
			var bod = document.body;
			bod.style.top = `-${window.scrollY}px`;
			bod.style.position = "fixed";
			modal.style.display = "block";
			modal.focus();
			
			//close button handle
			span.onclick = function(modal) {
				var modal2 = document.getElementById("myModal");
				var container = document.getElementById("allcomments");
				container.innerHTML = "";
				modal2.style.display = "none";
				
				//return body to normal
				var bod = document.body;
				const scrollY = bod.style.top;
				bod.style.position = '';
				bod.style.top = '';
				window.scrollTo(0, parseInt(scrollY || '0') * -1);

				//turn off comment button on close
				$('#cmtsubmit').off('click');
				//clear comment message
				var msg = document.getElementById("cmtmessage");
				msg.innerHTML = "";
			}

			//click off comment window handle
			window.onclick = function(event) {
				var modal3 = document.getElementById("myModal");
				if (event.target == modal3) {
					modal3.style.display = "none";
					var container = document.getElementById("allcomments");
					container.innerHTML = "";

					//return body to normal
					var bod = document.body;
					const scrollY = bod.style.top;
					bod.style.position = '';
					bod.style.top = '';
					window.scrollTo(0, parseInt(scrollY || '0') * -1);
					
					//turn off comment button on close
					$('#cmtsubmit').off('click');
					//clear comment message
					var msg = document.getElementById("cmtmessage");
					msg.innerHTML = "";
				}
			}
		}


		function commentInit() {
			console.log("comment init");
			document.querySelectorAll('.commentbutton').forEach(item => {
				item.addEventListener('click', event => {
				var thestring = item.id;
				var splitty = thestring.split("/");
				var index = splitty[0];
				var trackname = splitty[1];
				var track_id = splitty[2];

				$.ajax({
					url:`/comments`,
					type: 'POST',
					data: {
						ind: index,
						track_name: trackname,
						track_id: track_id
					},
					success: function(data){
							console.table(data.comments);
							var container = document.getElementById("allcomments");
							container.innerHTML = "";
							console.log("loading form");
							var modal = document.getElementById("myModal");
							var span = document.getElementsByClassName("close")[0];
							var title = document.getElementById("commenttitle");
							title.innerHTML = data.track_name;

							var extrainfoembed = document.getElementById("extra");
							var uid = extrainfoembed.value.split("/");
							var theid = uid[0];
							extrainfoembed.setAttribute('value', `${theid}/${data.track_id}`);
							console.log(`EXTRA IS ${extrainfoembed.value}`);
							
							if(data.nocomments != 1){
								for (var i = 0; i < data.comments.length; i++) {
									container.innerHTML += `<div class="fullcomment" id="fullcomment/${i}"><div class="comuser" id ="comuser/${i}">${data.comments[i].username}</div><div class="comcom" id ="comcom/${i}">${data.comments[i].comment}</div><div class="comtime" id ="comtime/${i}">${data.comments[i].time}</div><div class="cmtremovebutton" id="cmtremove/${i}"><img border="2" alt="back" src="../../Images/PageIMG/close.png" height="45" width="45"/></div><div class="comuserid" id ="comuserid/${i}">${data.comments[i].user_id}</div></div><div class ="space2"></div><br>`;
								}
							}
							commentformInit(data.comments.length);
							removeCommentInit();
							activateModal(modal, span);
					},
					error: function(){
						console.log("Didn't Work");
					}
				});//ajax

				});//click event
			});//class selector
		}//comment ajax init

		function fixLargeText() {
			console.log("large text init");
			document.querySelectorAll('.tunetext').forEach(item => {
					if(item.innerHTML.length > 55){
						item.setAttribute('class', 'tunetextsmaller');
					}
			});
		}

		function removeUnusedLinks() {
			console.log("remove unused links");
			var thefbimage = document.getElementById('thefbimg');
			var thescimage = document.getElementById('thescimg');
			var thebcimage = document.getElementById('thebcimg');
			var thebeatimage = document.getElementById('thebeatimg');
			var theinstaimage = document.getElementById('theinstaimg');

			var bool1 = 0;
			var bool2 = 0;
			var bool3 = 0;
			var bool4 = 0;
			var bool5 = 0;
			
			document.querySelectorAll('.none').forEach(item => {
				item.setAttribute('class', 'linksformclear');
				if (item.id == 'thefb'){
					bool1 = 1;
					thefbimage.setAttribute('src', '../../Images/PageIMG/trans.png');
				}
				if (item.id == 'thesc'){
					bool2 = 1;
					thescimage.setAttribute('src', '../../Images/PageIMG/trans.png');
				}
				if (item.id == 'thebc'){
					bool3 = 1;
					thebcimage.setAttribute('src', '../../Images/PageIMG/trans.png');
				}
				if (item.id == 'thebeat'){
					bool4 = 1;
					thebeatimage.setAttribute('src', '../../Images/PageIMG/trans.png');
				}
				if (item.id == 'theinsta'){
					bool5 = 1;
					theinstaimage.setAttribute('src', '../../Images/PageIMG/trans.png');
				}
			});

			if(bool1 == 1 && bool2 == 1 && bool3 == 1 && bool4 == 1 && bool5 == 1){
				var test = document.getElementById('supportseg');
				test.setAttribute('class', 'linksformclear');
				var testbox = document.getElementById('linksformart');
				testbox.style.borderStyle = "none";
			}
		}

		function appendNewTrackList(tracks, currentuserid, i){

			var thecontainer = document.getElementById('ulcontain2');

			var newdiv = document.createElement('div');
			newdiv.setAttribute('class', 'uldiv');
			newdiv.setAttribute('id', id=`${i}/uldiv`);

			var newul = document.createElement('ul');

			var textdiv = document.createElement('div');
			textdiv.setAttribute('class', 'downloadbutton');

			//Track Name Line
			var textli = document.createElement('li');
			textli.setAttribute('class', 'tunetext');
			textli.innerHTML = `${tracks[i].track_name}`;

			textdiv.appendChild(textli);

			//audio div
			var audiodiv = document.createElement('div');
			audiodiv.setAttribute('class', 'regaudio');

			//audio element
			var newaudio = document.createElement('audio');
			newaudio.setAttribute('src', `${tracks[i].drive_url}`);
			newaudio.setAttribute('type', 'audio/mpeg');
			newaudio.setAttribute('controls', '');
			newaudio.setAttribute('preload', 'none');
			newaudio.setAttribute('id', `${i+10000}`);

			//iosspacer
			var iosspacediv = document.createElement('div');
			iosspacediv.setAttribute('id', 'iosspacer');

			//download div
			var downloaddiv = document.createElement('div');
			downloaddiv.setAttribute('class', 'downloadbutton');

			//download link
			var downlink = document.createElement('a');
			downlink.setAttribute('href', `${tracks[i].drive_url}`);

			//download image
			var downimage = document.createElement('img');
			downimage.setAttribute('border', '2');
			downimage.setAttribute('alt', 'Download Tune');
			downimage.setAttribute('src', '../Images/PageIMG/download2.png');
			downimage.setAttribute('height', '50');

			//form
			var zeform = document.createElement('form');
			zeform.setAttribute('method', 'POST');
			zeform.setAttribute('id', `form ${i}`);
			zeform.setAttribute('action', `/artist/${tracks[i].artist_name}`);

			//form inputs:
			var trackidinput = document.createElement('input');
			trackidinput.setAttribute('id', `track_id${i}`);
			trackidinput.setAttribute('class', 'form-control');
			trackidinput.setAttribute('type', 'hidden');
			trackidinput.setAttribute('name', `track_id${i}`);
			trackidinput.setAttribute('value', `${tracks[i].id}`);

			var tracknameinput = document.createElement('input');
			tracknameinput.setAttribute('id', `favetrack_name${i}`);
			tracknameinput.setAttribute('class', 'form-control');
			tracknameinput.setAttribute('type', 'hidden');
			tracknameinput.setAttribute('name', `favetrack_name${i}`);
			tracknameinput.setAttribute('value', `${tracks[i].track_name}`);

			var useridinput = document.createElement('input');
			useridinput.setAttribute('id', `user_id${i}`);
			useridinput.setAttribute('class', 'form-control');
			useridinput.setAttribute('type', 'hidden');
			useridinput.setAttribute('name', `user_id${i}`);
			useridinput.setAttribute('value', `${currentuserid}`);

			var artistnameinput = document.createElement('input');
			artistnameinput.setAttribute('id', `name${i}`);
			artistnameinput.setAttribute('class', 'form-control');
			artistnameinput.setAttribute('type', 'hidden');
			artistnameinput.setAttribute('name', `name${i}`);
			artistnameinput.setAttribute('value', `${tracks[i].artist_name}`);

			var submitimage = document.createElement('img');
			submitimage.setAttribute('id', `${i}`);
			submitimage.setAttribute('class', 'favebuttonclass');
			submitimage.setAttribute('border', '2');
			submitimage.setAttribute('alt', 'back');
			submitimage.setAttribute('height', '50');
			submitimage.setAttribute('src', '../Images/PageIMG/addfave.png');

			var downloaddiv2 = document.createElement('div');
			downloaddiv2.setAttribute('class', 'downloadbutton');

			var commentimg = document.createElement('img');
			commentimg.setAttribute('id', `${i}/${tracks[i].track_name}/${tracks[i].id}`);
			commentimg.setAttribute('class', 'commentbutton');
			commentimg.setAttribute('border', '2');
			commentimg.setAttribute('alt', 'back');
			commentimg.setAttribute('height', '50');
			commentimg.setAttribute('src', '../Images/PageIMG/comments.png');

			var heartimg = document.createElement('img');
			heartimg.setAttribute('id', `${i}/${tracks[i].id}/${currentuserid}/${tracks[i].userhearted}`);
			heartimg.setAttribute('class', 'heartbutton');
			heartimg.setAttribute('border', '0');
			heartimg.setAttribute('alt', 'back');
			heartimg.setAttribute('height', '50');
			heartimg.setAttribute('src', `../Images/PageIMG/heart${tracks[i].userhearted}.png`);

			var numheartdiv = document.createElement('div');
			numheartdiv.setAttribute('id', `${i}/numheart`);
			numheartdiv.setAttribute('class', 'numheart');
			numheartdiv.innerHTML = `${tracks[i].hearts.length}`;

			//finishing form
			zeform.appendChild(trackidinput);
			zeform.appendChild(tracknameinput);
			zeform.appendChild(useridinput);
			zeform.appendChild(artistnameinput);
			zeform.appendChild(submitimage);

			var custombuttondiv = document.createElement('div');
			custombuttondiv.setAttribute('class', 'custombutton');

			var custombuttondiv2 = document.createElement('div');
			custombuttondiv2.setAttribute('class', 'custombutton');

			var sharelink = document.createElement('input');
			sharelink.setAttribute('id', `sharelink${tracks[i].id}`);
			sharelink.setAttribute('class', 'sharelink');
			sharelink.setAttribute('readonly', 'readonly');
			sharelink.setAttribute('type', 'text');
			sharelink.setAttribute('name', 'sharelink');
			sharelink.setAttribute('value', `https://www.riddimarchive.com/share/${tracks[i].id}`);


			var shareimg = document.createElement('img');
			shareimg.setAttribute('id', `${i}/${tracks[i].id}`);
			shareimg.setAttribute('class', 'sharebutton');
			shareimg.setAttribute('border', '0');
			shareimg.setAttribute('alt', 'back');
			shareimg.setAttribute('src', '../Images/PageIMG/share.png');
			shareimg.setAttribute('height', '50');

			//finishing download
			downlink.appendChild(downimage);
			custombuttondiv.appendChild(downlink);
			custombuttondiv2.appendChild(zeform);
			downloaddiv.appendChild(custombuttondiv);
			downloaddiv.appendChild(custombuttondiv2);

			//comment append
			downloaddiv2.appendChild(commentimg);
			downloaddiv2.appendChild(heartimg);
			downloaddiv2.appendChild(numheartdiv);
			downloaddiv2.appendChild(sharelink);
			downloaddiv2.appendChild(shareimg);

			//finishing audio
			audiodiv.appendChild(newaudio);

			//added label
			var labeldiv = document.createElement('div');
			labeldiv.setAttribute('id', `result${i}`);
			labeldiv.setAttribute('class', 'downloadbuttonwithbold');

			//final appends
			newul.appendChild(textdiv);
			newul.appendChild(audiodiv);
			newul.appendChild(iosspacediv);
			newul.appendChild(downloaddiv);
			newul.appendChild(downloaddiv2);
			newul.appendChild(labeldiv);
			newdiv.appendChild(newul);

			//insert into page
			thecontainer.appendChild(newdiv);

		}