extends index2

block content
	br
	button(onclick='goBack()') Go Back
		script.
			function goBack() {
			window.history.back();
			}
	
	h1 #{artist_name}
	.artistpage
		img(src=`../Images/Logos/${artist_name}.jpg`, alt="ADD ARTIST IMG HERE", height='275', width='275')
	br
	#{info}
	br
	br
	br

	- var x = tracks;

	.ulcontain
		each track in x
			ul
				.uldiv
					li.tunetext= `                              ${track.track_name}`
					audio(src=track.drive_url, type='audio/mpeg', controls='')
						code audio
					li.tunetext= `       `
					a(href=track.drive_url)
						img(border='0', alt='Download Tune', src='../Images/PageIMG/download.png', height='50')
					li.tunetext= `  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­ `
					a(href="")  
	p TEST thing let's see if this works.
			