extends index2

block content
	- var message = msg;
	.labelgcenter #{message}
	script.
		document.addEventListener('play', function(e){
		var audios = document.getElementsByTagName('audio');
		for(var i = 0, len = audios.length; i < len;i++){
		if(audios[i] != e.target){
		audios[i].pause();
		}
		}
		}, true);
	.artisth1
		h1 #{artist_name}
	.middlecontain
		.artistpage
			img(src=`../Images/Logos/${artist_name}.jpg`, alt="ADD ARTIST IMG HERE", height='275', width='275')
		.searchcontain
			.searchform
    		form(method='POST' action='/search')
    			div.form-group
    				label(for='search_results')       Search
    		    	input#search_results.form-control(type='text', name='search_results' placeholder="Search for Artist/Crew...")
    			div.form-group
    		    	label(for='search_style') Artist
    		    	input#search_style.form-control(type='radio', name='search_style', checked="checked", value=0)
    		    	label(for='search_style') Crew
    		    	input#search_style.form-control(type='radio', name='search_style', value=1)
    			div
    		    	button.btn.btn-primary.btn-block(type='submit') Submit
    			div
    		    	form
    				input(type='button', value='Reload back to All Tunes', onclick=`self.location=https://riddim-archive.herokuapp.com/artist/${artist_name}`)
	.artistinfo
		h3 #{info}
	.labelgcenter #{message}
	- var x = tracks;
	- var userid = currentuserid;

	.ulcontain
		each track in x
			ul
				.uldiv
					li.tunetext= `${track.track_name}`
					.regaudio
						audio(src=track.drive_url, type='audio/mpeg', controls='', preload="none")
					li.tunetext= `       `
					.downloadbutton
						a(href=track.drive_url)
							img(border='0', alt='Download Tune', src='../Images/PageIMG/download.png', height='50')
						form(method='POST' action=`/artist/${artist_name}`)
							div.form-group
								input#track_id.form-control(type='hidden', name='track_id', value=`${track.id}`)
							div.form-group
								input#favetrack_name.form-control(type='hidden', name='favetrack_name', value=`${track.track_name}`)
							div.form-group
								input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
							div.form-group
								input#name.form-control(type='hidden', name='name', value=`${artist_name}`)
							div
								input(type='submit', value='Add to Favorites')
					li.tunetext= `  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­ `
					a(href="")