extends index

block content
  script(src='https://code.jquery.com/jquery-3.5.0.min.js')
  script.
    function toggleVisible(){
    var x = document.getElementById("tunesoftheweek");
    var y = document.getElementById("tuneslink");

    if(x.style.display == 'none' || x.style.display == ''){
    x.style.display = 'block';
    }else{
    x.style.display = 'none';
    }

    if (y.innerHTML === "Click Here for Tunes of the Week!") {
    y.innerHTML = "^^^ Collapse List ^^^";
    } else {
    y.innerHTML = "Click Here for Tunes of the Week!";
    }
    }

  .artisth1
    a#tuneslink(title='Totw', href='', onclick='toggleVisible();return false;') Click Here for Tunes of the Week!


  - var y = totw;
  - var userid = currentuserid;


  div#tunesoftheweek
    .ulcontaintotw
      each track, index in y
        ul
          .uldivtotw
            li.tunetexttotw= `${track.original_artist}${track.track_name}${track.blank}`
            .totw
              audio(id=`${index+10000}`, src=track.drive_url, type='audio/mpeg', controls='', preload='none') Sorry Bruv, Your Browser Can't Play dis chune!
            .downloadbutton
              a(href=track.drive_url)
                img(border='2', alt='Download Tune', src='Images/PageIMG/download2.png', height='50')
              form(id=`form ${index}`, method='POST')
                div.form-group
                  input#track_id.form-control(type='hidden', name='track_id', value=`${track.id}`)
                div.form-group
                  input#favetrack_name.form-control(type='hidden', name='favetrack_name', value=`${track.track_name}`)
                div.form-group
                  input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
                div.form-group
                  input#name.form-control(type='hidden', name='name', value=`${track.artist_name}`)
                img(id=`${index}`, class='favebuttonclass', border='2', alt='back', src='Images/PageIMG/addfave.png', height='50')
            div(id=`result${index}`)
  br
  - var message = msg;
  - var shuffleart = randartistname;
  - var shuffletrack = randtrackname;
  - var shuffleurl = randdriveurl;
  - var shuffleid = randtrackid;
  
  - var shuf = shuftext;
  
  .middlecontain
    .searchcontain
      .searchform
        form#searchy(method='POST')
          div.form-group
            .bigboldtext Artist Search
            input#search_results.form-control(type='text', name='search_results' placeholder="Search for Artist/Crew...")
          div.form-group
            label.boldtext(for='search_style') Search By Artist
            input#search_style.form-control(type='radio', name='search_style', checked="checked", value=0)
          div.form-group
            label.boldtext(for='search_style') Search By Crew
            input#search_style.form-control(type='radio', name='search_style', value=1)
          #test
            img(border='0', alt='back', src='Images/PageIMG/tunesearch.png', height='45')
          div
            form
            input(type='button', value='Reload back to All Artists', onclick="self.location='https://riddim-archive.herokuapp.com/'")
          #labelgcenter #{message}

    .shufflecontain
      .bigboldtext SHUFFLE PLAYER
      #shuftext
        text.boldtext= `${shuf}`
      .downloadbutton
        audio(id='shufaudio', type='audio/mpeg', controls='')
          source(id='shufaudiosrc' src=`${shuffleurl}`)
      .downloadbutton
        a(id='shufdownloadbutton', href=shuffleurl)
          img(border='2', alt='Download Tune', src='Images/PageIMG/download2.png', height='50')
        form(id='shuffaveform', method='POST')
          input#shuftrack_id.form-control(type='hidden', name='track_id', value=`${shuffleid}`)
          input#shuffavetrack_name.form-control(type='hidden', name='favetrack_name', value=`${shuffletrack}`)
          input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
          input#shufname.form-control(type='hidden', name='name', value=`${shuffleart}`)
          img(id='shuffave', class='favebuttonclass', border='2', alt='back', src='Images/PageIMG/addfave.png', height='50')
      .downloadbutton
        #shuffleforward
          img(border='2', alt='back', src='Images/PageIMG/forward2.png', height='50')
      #loadtext.boldtext
  br
  #labelgcenter #{message}
  - var x = artists;

  .fishcontain
    #fish
      each artist in x
        .fishchild
          a(href=`artist/${artist.artist_name}`)
            img(src=`Images/Logos/${artist.artist_name}.jpg` alt="ADD ARTIST IMG HERE" height='275' width='275')
  #fishcontain2
    #fish2

  script.
    $(document).ready(function() {
      console.log("Doc ready");
      searchAjaxInit();
      forwardAjaxInit();
      faveAjaxInit();
      playInit();
    });

    function searchAjaxInit() {
        console.log("Search Ajax Init");
        var theform = $('#searchy');
        var thebutton = $('#test');
        thebutton.click(function (ev) {
          ev.preventDefault();
          $.ajax({
          url:'/search',
          type: 'POST',
          data: theform.serialize(),
          success: function(data){
            var themsg = data.msg;
            document.getElementById('labelgcenter').innerHTML = themsg;
            var reloadlist = data.reloadlist;

            if (reloadlist == 1){
              console.log("Replace Artist List!");
              var oldlist = document.getElementsByClassName("fishchild");
              const len = oldlist.length;
              for (var i = 0; i < len; i++){
                var element = oldlist[(oldlist.length - 1)].parentNode;
                element.removeChild(oldlist[(oldlist.length - 1)]);
              }

              var list = data.artists;
              for (var i = 0; i < list.length; i++){
                //set container, everything will added within
                var thecontainer = document.getElementById('fish2');

                var fishchilddiv = document.createElement('div');
                fishchilddiv.setAttribute('class', 'fishchild');

                //page link
                var artistlink = document.createElement('a');
                artistlink.setAttribute('href', `artist/${list[i].artist_name}`);

                //artist image
                var artistimage = document.createElement('img');
                artistimage.setAttribute('alt', 'ADD ARTIST IMG HERE');
                artistimage.setAttribute('src', `Images/Logos/${list[i].artist_name}.jpg`);
                artistimage.setAttribute('height', '275');
                artistimage.setAttribute('width', '275');

                artistlink.appendChild(artistimage);
                fishchilddiv.appendChild(artistlink);
                thecontainer.appendChild(fishchilddiv);


              }//forloop list iterate
            }//reloadlist
          },
          error: function(){
            console.log("Didn't Work");
            var msg = "Something went Wrong, Please Refresh Page and try Again";
            document.getElementById('labelgcenter').innerHTML = themsg;
          }
          });//ajax
        });//submit
    }//searchajaxinit

    function forwardAjaxInit() {
        console.log("Forward Ajax Init");
        document.getElementById('shuffleforward').addEventListener('click', makeNextRequest);
          function makeNextRequest(e){
              document.getElementById('loadtext').innerHTML= "Loading..."
              console.log("CALLING FCN");
              $.ajax({
              url:'/forward',
              type : 'POST',
              success: function(data){
                var thetext = document.createElement('text');
                thetext.setAttribute('class', 'boldtext');
                thetext.innerHTML = `${data.shuftext}`;
                var shuffy = document.getElementById('shuftext');
                shuffy.innerHTML= "";
                shuffy.appendChild(thetext);

                var idfield = document.getElementById('shuftrack_id');
                var tracknamefield = document.getElementById('shuffavetrack_name');
                var artistnamefield = document.getElementById('shufname');
                idfield.setAttribute('value', `${data.id}`);
                tracknamefield.setAttribute('value', `${data.track_name}`);
                artistnamefield.setAttribute('value', `${data.artist_name}`);


                var downbutton = document.getElementById('shufdownloadbutton');
                downbutton.setAttribute('href', `${data.source}`);
                document.getElementById('shufaudiosrc').src = `${data.source}`;

                var audiop = document.getElementById('shufaudio');
                audiop.load();
                var playPromise = audiop.play();
                if (playPromise !== undefined) {
                  playPromise.then(_ => {
                })
                .catch(error => {
                });
                }
              audioFinishedCheck();
              },
              error: function(){
              console.log("Didn't Work");
              }
              });
          }
    }

    function audioFinishedCheck() {
      var audiop = document.getElementById('shufaudio');
      audiop.addEventListener('playing',function() { document.getElementById('loadtext').innerHTML= ""; });
    }

    function totwaudioFinishedCheck(index) {
      var loadmsg = document.getElementById(`${index}`);
      var audiop = document.getElementById('shufaudio');
      audiop.addEventListener('playing',function() { loadmsg.innerHTML = ""; });
    }

    function faveAjaxInit() {
      console.log("fave Ajax Init");
      document.querySelectorAll('.favebuttonclass').forEach(item => {
        item.addEventListener('click', event => {
        var tid = "";
        var t_name = "";
        var a_name = "";

        if(item.id = 'shuffave'){
          var theform = document.getElementById('shuffaveform');
          tid = theform.elements["shuftrack_id"].value;
          t_name = theform.elements["shuffavetrack_name"].value;
          a_name = theform.elements["shufname"].value;

        }else{
          var theform = document.getElementById(`form ${item.id}`);
          tid = theform.elements["track_id"].value;
          t_name = theform.elements["favetrack_name"].value;
          a_name = theform.elements["name"].value;
        }
        console.log(theform);
        var uid = theform.elements["user_id"].value;
        var index = item.id;

        $.ajax({
          url:'/homepagefave',
          type: 'POST',
          data: {
            track_id: tid,
            favetrack_name: t_name,
            user_id: uid,
            name: a_name,
            index: index
          },
          success: function(data){
            var themsg = data.msg;
            var theindex = data.index;
            if (theindex = 'shuffave'){
              document.getElementById('loadtext').innerHTML= themsg;
            }else{
              document.getElementById(`result${theindex}`).innerHTML = themsg;
            }
          },
          error: function(){
            console.log("Didn't Work");
          }
        });//ajax

        });//click event
      });//class selector
    }//fave ajax init

    function playInit() {
      document.addEventListener('play', function(e){
        var audios = document.getElementsByTagName('audio');
        if(e.target.id != 'shufaudio'){
          var curindex = e.target.id;
          var loadmsg = document.getElementById(`result${curindex-10000}`);
          loadmsg.innerHTML = "Loading...";

          for(var i = 0, leng = audios.length; i < leng;i++){
            if(audios[i] != e.target){
              audios[i].pause();
              var theid = (audios[i].id-10000);
              var loadmsg = document.getElementById(`result${theid}`);
              loadmsg.innerHTML = "";
              totwaudioFinishedCheck(theid);
            }
          }
        }
      }, true);

    }