extends index

block content
  script.
    document.addEventListener('play', function(e){
    var audios = document.getElementsByTagName('audio');
    for(var i = 0, len = audios.length; i < len;i++){
    if(audios[i] != e.target){
    audios[i].pause();
    }
    }
    }, true);

  script.
    function toggleVisible(){
    console.log("clicked");
    var x = document.getElementById("tunesoftheweek");
    var y = document.getElementById("tuneslink");

    if(x.style.display == 'none' || x.style.display == ''){
    x.style.display = 'block';
    }else{
    x.style.display = 'none';
    }

    if (y.innerHTML === "vvv Click Here for Tunes of the Week! vvv") {
    y.innerHTML = "^^^ Collapse List ^^^";
    } else {
    y.innerHTML = "vvv Click Here for Tunes of the Week! vvv";
    }
    }

  .artisth1
    a#tuneslink(title='Totw', href='', onclick='toggleVisible();return false;') vvv Click Here for Tunes of the Week! vvv
  - var y = totw;
  div#tunesoftheweek
    .ulcontaintotw
      each track in y
        ul
          .uldivtotw
            li.tunetexttotw= `${track.artist_name} - ${track.track_name}`
            .totw
              audio(src=track.drive_url, type='audio/mpeg', controls='') Sorry Bruv, Your Browser Can't Play dis chune!
            li.tunetexttotw= `       `
            a(href=track.drive_url)
              img(border='0', alt='Download Tune', src='Images/PageIMG/download.png', height='35', width='160')
            li.tunetexttotw= `  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­ `
            a(href="")

  - var message = msg;
  .searchcontain
    .searchform
      form(method='POST' action='/search')
        div.form-group
          label(for='search_results')       Search
          input#search_results.form-control(type='text', name='search_results' placeholder="Search for Artist/Crew...")
        div.form-group
          label(for='search_style') Artist
          input#search_style.form-control(type='radio', name='search_style', checked="checked", value=0)
          label(for='search_style') Crew
          input#search_style.form-control(type='radio', name='search_style', value=1)
        div
          button.btn.btn-primary.btn-block(type='submit') Submit
        div
          p #{message}
        div
          form
          input(type='button', value='Reload back to All Artists', onclick="self.location='https://riddim-archive.herokuapp.com/'")

  - var x = artists;

  .fishcontain
    .fish
      .fishchild
        each artist in x
          a(href=`artist/${artist.artist_name}`)
            img(src=`Images/Logos/${artist.artist_name}.jpg` alt="ADD ARTIST IMG HERE" height='275' width='275')
