extends index

block content

  script.
    document.addEventListener('play', function(e){
    var audios = document.getElementsByTagName('audio');
    for(var i = 0, len = audios.length; i < len;i++){
    if(audios[i] != e.target){
    audios[i].pause();
    }
    }
    }, true);

  script.
    function toggleVisible(){
    var x = document.getElementById("tunesoftheweek");
    var y = document.getElementById("tuneslink");

    if(x.style.display == 'none' || x.style.display == ''){
    x.style.display = 'block';
    }else{
    x.style.display = 'none';
    }

    if (y.innerHTML === "Click Here for Tunes of the Week!") {
    y.innerHTML = "^^^ Collapse List ^^^";
    } else {
    y.innerHTML = "Click Here for Tunes of the Week!";
    }
    }

  .artisth1
    a#tuneslink(title='Totw', href='', onclick='toggleVisible();return false;') Click Here for Tunes of the Week!


  - var y = totw;
  - var userid = currentuserid;


  div#tunesoftheweek
    .ulcontaintotw
      each track in y
        ul
          .uldivtotw
            li.tunetexttotw= `${track.artist_name} - ${track.track_name}`
            .totw
              audio(src=track.drive_url, type='audio/mpeg', controls='') Sorry Bruv, Your Browser Can't Play dis chune!
            li.tunetexttotw= `       `
            .downloadbutton
              a(href=track.drive_url)
                img(border='0', alt='Download Tune', src='Images/PageIMG/download.png', height='35', width='160')
              form(method='POST' action=`/`)
                div.form-group
                  input#track_id.form-control(type='hidden', name='track_id', value=`${track.id}`)
                div.form-group
                  input#favetrack_name.form-control(type='hidden', name='favetrack_name', value=`${track.track_name}`)
                div.form-group
                  input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
                div.form-group
                  input#name.form-control(type='hidden', name='name', value=`${track.artist_name}`)
                div
                  input(type='submit', value='Add to Favorites')
            li.tunetexttotw= `  ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­   ­ `
            a(href="")

  - var message = msg;
  
  .middlecontain
    .searchcontain
      .searchform
        form(method='POST' action='/search')
          div.form-group
            label(for='search_results')       Search
            input#search_results.form-control(type='text', name='search_results' placeholder="Search for Artist/Crew...")
          div.form-group
            label(for='search_style') Artist
            input#search_style.form-control(type='radio', name='search_style', checked="checked", value=0)
            label(for='search_style') Crew
            input#search_style.form-control(type='radio', name='search_style', value=1)
          div
            button.btn.btn-primary.btn-block(type='submit') Submit
          div
            form
            input(type='button', value='Reload back to All Artists', onclick="self.location='https://riddim-archive.herokuapp.com/'")
    .shufflecontain
      p SHUFFLE PLAYER
      .downloadbutton
        a(href='/back')
          img(border='0', alt='back', src='Images/PageIMG/back.png', width = '32.3', height = '22.6')
          audio(src='https://www.mediafire.com/file/r5pu2kt1twd4edm/Critical_Error.mp3/file', type='audio/mpeg', controls='')
            .downloadbutton
              a(href='/forward')
                img(border='0', alt='back', src='Images/PageIMG/forward.png', width = '32.3', height = '22.6')
  .labelgcenter #{message}
  - var x = artists;

  .fishcontain
    .fish
      .fishchild
        each artist in x
          a(href=`artist/${artist.artist_name}`)
            img(src=`Images/Logos/${artist.artist_name}.jpg` alt="ADD ARTIST IMG HERE" height='275' width='275')
