extends index

block content
  script(src='https://code.jquery.com/jquery-3.5.0.min.js')
  meta(property='og:title', content='Riddim Archive')
  meta(property='og:image', content='Images/PageIMG/Logos/NewLogoTest2.png')
  
  script.
    function toggleVisible(){
    var x = document.getElementById("tunesoftheweek");
    var y = document.getElementById("tuneslink");

    if(x.style.display == 'none' || x.style.display == ''){
    x.style.display = 'block';
    }else{
    x.style.display = 'none';
    }

    if (y.innerHTML === "Click Here for Tunes of the Week!") {
    y.innerHTML = "^^^ Collapse List ^^^";
    } else {
    y.innerHTML = "Click Here for Tunes of the Week!";
    }
    }

  - var y = totw;
  - var userid = currentuserid;
  - var message = msg;
  - var shuffleart = randartistname;
  - var shuffletrack = randtrackname;
  - var shuffleurl = randdriveurl;
  - var shuffleid = randtrackid;
  - var shuf = shuftext;
  div(title='0', id='loopvalue')
  div(title='0', id='contvalue')

  .middlecontain
    .searchcontain
      .searchform
        .downloadbutton
            .bigboldtext Artist Search
        form#searchy2(method='POST')
          div.form-group
            input#search_results.form-control(type='text', name='search_results' placeholder="Search for Artist/Crew...")
          .downloadbutton
            label.boldtext(for='search_style') Search By Artist
            input#search_style0.form-control(type='radio', name='search_style', checked="checked", value=0)
          .downloadbutton
            label.boldtext(for='search_style') Search By Crew
            input#search_style1.form-control(type='radio', name='search_style', value=1)
          .downloadbutton
            .custombutton
              img(id='test', border='2', alt='back', src='Images/PageIMG/tunesearch.png', height='50')
          .downloadbutton
            .custombutton
              a(id='reload', href="https://www.riddimarchive.com")
                img(border='2', alt='Reload', src='Images/PageIMG/reload.png', height='50')
          #labelgcenter #{message}

    .shufflecontain
      .downloadbutton
        .bigboldtext Shuffle Player
      #shuftext
        text.boldtext= `${shuf}`
      .downloadbutton
        audio(id='shufaudio', type='audio/mpeg', controls='', preload='none')
          source(id='shufaudiosrc' src=`${shuffleurl}`)
      #iosspacer
      .downloadbutton
        img(border='2', class='tinybutton', id='loopbutton', alt='loop', src='Images/PageIMG/loop.png', height='60')
        img(border='2', class='tinybutton', id='contbutton', alt='continue', src='Images/PageIMG/continuetest.png', height='60')

      .downloadbutton
        .custombutton
          a(id='shufdownloadbutton', href=shuffleurl)
            img(border='2', alt='Download Tune', src='Images/PageIMG/download2.png', height='50')
        .custombutton
          form(id='shuffaveform', method='POST')
            input#shuftrack_id.form-control(type='hidden', name='track_id', value=`${shuffleid}`)
            input#shuffavetrack_name.form-control(type='hidden', name='favetrack_name', value=`${shuffletrack}`)
            input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
            input#shufname.form-control(type='hidden', name='name', value=`${shuffleart}`)
            img(id='shuffave', class='favebuttonclass', border='2', alt='back', src='Images/PageIMG/addfave.png', height='50')
      .downloadbutton
        .custombutton
          #shuffleforward
            img(border='2', alt='back', src='Images/PageIMG/forward2.png', height='50')
      #loadtext.boldtext
  br
  #labelgcenter #{message}
  - var x = artists;

  .middlecontain
    .searchcontain
      .downloadbutton
        .custombutton
          img(id=`atod`, class='pageclass', border='2', alt='back', src='Images/PageIMG/athroughd.png', height='50')
        .custombutton
          img(id=`etoi`, class='pageclass', border='2', alt='back', src='Images/PageIMG/ethroughi.png', height='50')
        .custombutton
          img(id=`jtoo`, class='pageclass', border='2', alt='back', src='Images/PageIMG/jthrougho.png', height='50')
        .custombutton
          img(id=`ptot`, class='pageclass', border='2', alt='back', src='Images/PageIMG/pthrought.png', height='50')
        .custombutton
          img(id=`utoz`, class='pageclass', border='2', alt='back', src='Images/PageIMG/uthroughz.png', height='50')
      .artisth1
        a#tuneslink(title='Totw', href='', onclick='toggleVisible();return false;') Click Here for Tunes of the Week!
      div#tunesoftheweek
        .ulcontaintotw
          each track, index in y
            ul
              .uldivtotw
                li.tunetexttotw= `${track.blank}${track.track_name}`
                .totw
                  audio(id=`${index+10000}`, src=track.drive_url, type='audio/mpeg', controls='', preload='none', style='width:100%;') Sorry Bruv, Your Browser Can't Play dis chune!
                .downloadbutton
                  .custombutton
                    a(href=track.drive_url)
                      img(border='2', alt='Download Tune', src='Images/PageIMG/download2.png', height='50')
                  .custombutton    
                    form(id=`form ${index}`, method='POST')
                      div.form-group
                        input#track_id.form-control(type='hidden', name='track_id', value=`${track.id}`)
                      div.form-group
                        input#favetrack_name.form-control(type='hidden', name='favetrack_name', value=`${track.track_name}`)
                      div.form-group
                        input#user_id.form-control(type='hidden', name='user_id', value=`${userid}`)
                      div.form-group
                        input#name.form-control(type='hidden', name='name', value=`${track.artist_name}`)
                      img(id=`${index}`, class='favebuttonclass', border='2', alt='back', src='Images/PageIMG/addfave.png', height='50')
                div(id=`result${index}`)
  br

  .fishcontain
    #fish
      each artist in x
        .fishchild
          a(href=`artist/${artist.artist_name}`)
            .imgwrap
              p.imgdescription=`${artist.artist_name}`
              img(src=`${artist.img_url}` alt="ADD ARTIST IMG HERE" height='275' width='275')
  #fishcontain2
    #fish2

  script.
    $(document).on("keydown", "form", function(event) { 
      return event.key != "Enter";
    });
    
    $(document).ready(function() {
      console.log("Doc ready");
      fixLargeText();
      searchAjaxInit();
      forwardAjaxInit();
      shufloopandcontinueInit();
      faveAjaxInit();
      pageAjaxInit();
      playInit();
    });

    function appendArtistList(list){
      for (var i = 0; i < list.length; i++){
        //set container, everything will added within
        var thecontainer = document.getElementById('fish2');

        var fishchilddiv = document.createElement('div');
        fishchilddiv.setAttribute('class', 'fishchild');

        var imgwrapdiv = document.createElement('div');
        imgwrapdiv.setAttribute('class', 'imgwrap');

        var popuptxt = document.createElement('p');
        popuptxt.setAttribute('class', 'imgdescription');
        popuptxt.innerHTML= `${list[i].artist_name}`;

        //page link
        var artistlink = document.createElement('a');
        artistlink.setAttribute('href', `artist/${list[i].artist_name}`);

        //artist image
        var artistimage = document.createElement('img');
        artistimage.setAttribute('alt', 'ADD ARTIST IMG HERE');
        artistimage.setAttribute('src', `${list[i].img_url}`);
        artistimage.setAttribute('height', '275');
        artistimage.setAttribute('width', '275');

        imgwrapdiv.appendChild(popuptxt);
        imgwrapdiv.appendChild(artistimage);
        artistlink.appendChild(imgwrapdiv);
        fishchilddiv.appendChild(artistlink);
        thecontainer.appendChild(fishchilddiv);

      }//forloop list iterate
    }

    function searchAjaxInit() {
        console.log("Search Ajax Init");
        var theform = $('#searchy2');
        var thebutton = $('#test');
        thebutton.click(function (ev) {
          ev.preventDefault();
          $.ajax({
          url:'/search',
          type: 'POST',
          data: theform.serialize(),
          success: function(data){
            var themsg = data.msg;
            document.getElementById('labelgcenter').innerHTML = themsg;
            var reloadlist = data.reloadlist;

            if (reloadlist == 1){
              console.log("Replace Artist List!");
              var oldlist = document.getElementsByClassName("fishchild");
              const len = oldlist.length;
              for (var i = 0; i < len; i++){
                var element = oldlist[(oldlist.length - 1)].parentNode;
                element.removeChild(oldlist[(oldlist.length - 1)]);
              }

              var list = data.artists;
              appendArtistList(list);
            }//reloadlist
          },
          error: function(){
            console.log("Didn't Work");
            var msg = "Something went Wrong, Please Refresh Page and try Again";
            document.getElementById('labelgcenter').innerHTML = themsg;
          }
          });//ajax
        });//submit
    }//searchajaxinit

    function forwardAjaxInit() {
        console.log("Forward Ajax Init");
        document.getElementById('shuffleforward').addEventListener('click', makeNextRequest);
          function makeNextRequest(e){
              document.getElementById('loadtext').innerHTML= "Loading...";
              
              $.ajax({
              url:'/forward',
              type : 'POST',
              success: function(data){
                var thetext = document.createElement('text');
                thetext.setAttribute('class', 'boldtext');
                thetext.innerHTML = `${data.shuftext}`;
                var shuffy = document.getElementById('shuftext');
                shuffy.innerHTML= "";
                shuffy.appendChild(thetext);

                var idfield = document.getElementById('shuftrack_id');
                var tracknamefield = document.getElementById('shuffavetrack_name');
                var artistnamefield = document.getElementById('shufname');
                idfield.setAttribute('value', `${data.id}`);
                tracknamefield.setAttribute('value', `${data.track_name}`);
                artistnamefield.setAttribute('value', `${data.artist_name}`);


                var downbutton = document.getElementById('shufdownloadbutton');
                downbutton.setAttribute('href', `${data.source}`);
                document.getElementById('shufaudiosrc').src = `${data.source}`;

                var audiop = document.getElementById('shufaudio');
                audiop.load();
                var playPromise = audiop.play();
                if (playPromise !== undefined) {
                  playPromise.then(_ => {
                })
                .catch(error => {
                });
                }
              audioFinishedCheck();
              },
              error: function(){
              console.log("Didn't Work");
              }
              });
          }
    }

    function shufloopandcontinueInit(){
      var shuffy = document.getElementById('shufaudio');
      shuffy.onended = function() {
        var curloopvalue = document.getElementById('loopvalue').title;
        var curcontvalue = document.getElementById('contvalue').title;
        if (curloopvalue == 0){
          //do nothing
        }else{
          if(curcontvalue == 0){
            shuffy.pause();
            shuffy.currentTime = 0;
            shuffy.play();
          }
        }

        if(curcontvalue != 0){
          document.getElementById('loadtext').innerHTML= "Loading...";
              
              $.ajax({
              url:'/forward',
              type : 'POST',
              success: function(data){
                var thetext = document.createElement('text');
                thetext.setAttribute('class', 'boldtext');
                thetext.innerHTML = `${data.shuftext}`;
                var shuffy = document.getElementById('shuftext');
                shuffy.innerHTML= "";
                shuffy.appendChild(thetext);

                var idfield = document.getElementById('shuftrack_id');
                var tracknamefield = document.getElementById('shuffavetrack_name');
                var artistnamefield = document.getElementById('shufname');
                idfield.setAttribute('value', `${data.id}`);
                tracknamefield.setAttribute('value', `${data.track_name}`);
                artistnamefield.setAttribute('value', `${data.artist_name}`);


                var downbutton = document.getElementById('shufdownloadbutton');
                downbutton.setAttribute('href', `${data.source}`);
                document.getElementById('shufaudiosrc').src = `${data.source}`;

                var audiop = document.getElementById('shufaudio');
                audiop.load();
                var playPromise = audiop.play();
                if (playPromise !== undefined) {
                  playPromise.then(_ => {
                })
                .catch(error => {
                });
                }
              audioFinishedCheck();
              },
              error: function(){
              console.log("Didn't Work");
              }
              });

        }
      };

      document.getElementById('loopbutton').addEventListener('click', changeValue);
      function changeValue(e){
          var curvalue = document.getElementById('loopvalue').title;
          var contvalue = document.getElementById('contvalue').title;
          if (curvalue == 0){
            if (contvalue == 0){
              document.getElementById('loopvalue').title = 1;
              var img = document.getElementById('loopbutton');
              img.src = 'Images/PageIMG/loop1.png';
            }else{
              //remove cont
              document.getElementById('contvalue').title = 0;
              var theimg = document.getElementById('contbutton');
              theimg.src = 'Images/PageIMG/continuetest.png';

              document.getElementById('loopvalue').title = 1;
              var img = document.getElementById('loopbutton');
              img.src = 'Images/PageIMG/loop1.png';
            }
          }
          else{
            document.getElementById('loopvalue').title = 0;
            var theimg = document.getElementById('loopbutton');
            theimg.src = 'Images/PageIMG/loop.png';
          }

      }

      document.getElementById('contbutton').addEventListener('click', contchangeValue);
        function contchangeValue(e){
            var curvalue = document.getElementById('contvalue').title;
            var loopvalue = document.getElementById('loopvalue').title;
            if (curvalue == 0){
              if(loopvalue == 0){
                document.getElementById('contvalue').title = 1;
                var img = document.getElementById('contbutton');
                img.src = 'Images/PageIMG/continuetest1.png';
              }else{
                //remove loop
                document.getElementById('loopvalue').title = 0;
                var loopimg = document.getElementById('loopbutton');
                loopimg.src = 'Images/PageIMG/loop.png';

                document.getElementById('contvalue').title = 1;
                var img = document.getElementById('contbutton');
                img.src = 'Images/PageIMG/continuetest1.png';
              }
            }
            else{
              document.getElementById('contvalue').title = 0;
              var theimg = document.getElementById('contbutton');
              theimg.src = 'Images/PageIMG/continuetest.png';
            }
        }
    }

    function audioFinishedCheck() {
      var audiop = document.getElementById('shufaudio');
      audiop.addEventListener('playing',function() { document.getElementById('loadtext').innerHTML= ""; });
    }

    function faveAjaxInit() {
      console.log("fave Ajax Init");
      document.querySelectorAll('.favebuttonclass').forEach(item => {
        item.addEventListener('click', event => {
        var tid = "";
        var t_name = "";
        var a_name = "";

        if(item.id == 'shuffave'){
          var theform = document.getElementById('shuffaveform');
          tid = theform.elements["shuftrack_id"].value;
          t_name = theform.elements["shuffavetrack_name"].value;
          a_name = theform.elements["shufname"].value;

        }else{
          var theform = document.getElementById(`form ${item.id}`);
          tid = theform.elements["track_id"].value;
          t_name = theform.elements["favetrack_name"].value;
          a_name = theform.elements["name"].value;
        }
        console.log(theform);
        var uid = theform.elements["user_id"].value;
        var index = item.id;

        $.ajax({
          url:'/homepagefave',
          type: 'POST',
          data: {
            track_id: tid,
            favetrack_name: t_name,
            user_id: uid,
            name: a_name,
            index: index
          },
          success: function(data){
            var themsg = data.msg;
            var theindex = data.index;
            if (theindex == 'shuffave'){
              document.getElementById('loadtext').innerHTML= themsg;
            }else{
              document.getElementById(`result${theindex}`).innerHTML = themsg;
            }
          },
          error: function(){
            console.log("Didn't Work");
          }
        });//ajax

        });//click event
      });//class selector
    }//fave ajax init

    function pageAjaxInit() {
      console.log("page Ajax Init");
      document.querySelectorAll('.pageclass').forEach(item => {
        item.addEventListener('click', event => {
          var page = 6;
          if (item.id == 'atod'){
            page = 0;
          }
          if (item.id == 'etoi'){
            page = 1;
          }
          if (item.id == 'jtoo'){
            page = 2;
          }
          if (item.id == 'ptot'){
            page = 3;
          }
          if (item.id == 'utoz'){
            page = 4;
          }
            $.ajax({
            url:'/page',
            type: 'POST',
            data: {
            pagey: page
            },
            success: function(data){
                if(data.donothing == 1){
                  console.log("Doing NOthing lol");
                }else{
                    console.log("Replacing Artist List!");
                    var oldlist = document.getElementsByClassName("fishchild");
                    const len = oldlist.length;
                    for (var i = 0; i < len; i++){
                      var element = oldlist[(oldlist.length - 1)].parentNode;
                      element.removeChild(oldlist[(oldlist.length - 1)]);
                    }

                    var list = data.artists;
                    appendArtistList(list);
                }
                
            },
            error: function(){
              console.log("Didn't Work");
              var msg = "Something went Wrong, Please Refresh Page and try Again";
              document.getElementById('labelgcenter').innerHTML = themsg;
            }
            });//ajax
        });//click event
      });//class selector
    }//pageinit

    function playInit() {
      document.addEventListener('play', function(e){
        var audios = document.getElementsByTagName('audio');
        if(e.target.id !== 'shufaudio'){
          var curindex = e.target.id;
          var loadmsg = document.getElementById(`result${curindex-10000}`);
          loadmsg.innerHTML = "Loading...";

          for(var i = 0, leng = audios.length; i < leng;i++){
            if(audios[i] != e.target){
              console.log("pausing");
              audios[i].pause();
              if(audios[i].id !== 'shufaudio'){
                var theid = (audios[i].id-10000);
                var tunemsg = document.getElementById(`result${theid}`);
                tunemsg.innerHTML = "";
              }
            }
          }
        }else{
          for(var i = 0, leng = audios.length; i < leng;i++){
            if(audios[i] != e.target){
              console.log("pausing");
              audios[i].pause();
            }
          }
        }
      }, true);
    }

    function fixLargeText() {
      console.log("fix Large Init");
      document.querySelectorAll('.tunetexttotw').forEach(item => {
        if(item.innerHTML.length > 40){
          item.setAttribute('class', 'tunetexttotwsmaller');
        }
      });
    }