extends index3nobottom

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	- var usename = theusername;
	- var artid = theid;
	- var theartistname = theartname;
	- var message = msg;
	- var x = tracks;
	- var y = links;

	.artisth1
		h1#theh1 *WORK IN PROGRESS PAGE*
	.welcometxt
		h1 Welcome #{theartistname}! Here are your Secret Tunes, only you and people you trust can access them:
	br
	#labelgcenter #{msg}
	input(id='thesharelink', class='sharelink', type='text', name='sharelink', value=``)

	#allsecrets
		each track, index in x
			.fullsecret(id=`fullsecret/${index}/${track.id}`)
				.downloadbutton
					.scrttrackname(id=`scrttrackname/${index}/${track.id}`)=`${track.track_name}`
				br
			
				.downloadbutton
					.scrtchangepassbutton(id=`scrtchangepassbutton/${index}/${track.id}/0`)
						img(border='2', alt='back', src='../../Images/PageIMG/changesecretpass.png', height='45')
				div(class='downloadbuttonhidden', id = `passinput/${track.id}`)
					.faqform
						form(id=`passform/${index}/${track.id}`, method='POST')
							.label2 Enter New Track Password:
							input#change_pass(type='text', name='change_pass')
						.changepasssubmit(id=`scrtchangepassbutton/${index}/${track.id}`)
							img(border='2', alt='back', src='../../Images/PageIMG/submitnewpass.png', height='45')
				div(class='labelgcenter', id = `labelgcenter/${index}/${track.id}`)
			
				.downloadbutton
					.scrtgenlinkbutton(id=`scrtgenlinkbutton/${index}/${track.id}/0`)
						img(border='2', alt='back', src='../../Images/PageIMG/createsecretlink.png', height='45')
				div(class='downloadbuttonhidden', id = `timeinput/${track.id}`)
					.faqform
						form(id=`linkform/${index}/${track.id}`, method='POST')
							.label2 Enter Expiration Time (Max 7 Days):
							.middlecontain
								.downloadbutton
									input.exp_time#num(type='text', name='num')
								select#exp_time_type(name='exp_time_type')
									option(value='days') Days
									option(value='hours') Hours
									option(value='minutes') Minutes
									option(value='seconds') Seconds
						.genlinksubmit(id=`scrtgenlinkbutton/${index}/${track.id}`)
							img(border='2', alt='back', src='../../Images/PageIMG/generatelink.png', height='45')
				div(class='labelgcenter', id = `labelgcenterlink/${index}/${track.id}`)
			br

	script.
		$(document).on("keydown", "form", function(event) { 
			if (event.key == "Enter"){
				var msg = document.getElementById("labelgcenter");
				msg.innerHTML = "";
				return event.key != "Enter";
			}
		});

		$(document).bind("keydown keypress", function(e){
			if( e.which == 8 ){ // 8 == backspace
				if(e.target.readOnly ){
					e.preventDefault();
				}
			}
		});

		$(document).ready(function() {
			passToggleInit();
			linkToggleInit();
			passChangeSubmitInit();
			linkChangeSubmitInit();
		});

		function passChangeSubmitInit(){
			document.querySelectorAll('.changepasssubmit').forEach(item => {
				item.addEventListener('click', event => {
					var idstr = item.id;
					var splitty = idstr.split("/");
					var index = splitty[1];
					var track_id = splitty[2];

					var theform = document.getElementById(`passform/${index}/${track_id}`);
					var newpass = theform.elements[0].value;

					//make ajax call
					$.ajax({
						url:'/changesecretpass',
						type: 'POST',
						data: {
							index: index,
							track_id: track_id,
							newpass: newpass
						},
						success: function(data){
							console.log("Pass Changed???");
							console.log(data.index);
							console.log(data.track_id);
							var themsg = document.getElementById(`labelgcenter/${data.index}/${data.track_id}`);
							themsg.innerHTML = data.msg;
						},
						error: function(){
						console.log("Didn't Work");
						}
					});//ajax

				});//click event
			});//class selector
			
		}

		function passToggleInit(){
			document.querySelectorAll('.scrtchangepassbutton').forEach(item => {
				item.addEventListener('click', event => {
					var idstr = item.id;
					var splitty = idstr.split("/");
					var index = splitty[1];
					var track_id = splitty[2];
					var istoggled = splitty[3];

					if (istoggled == 0){
						var theitem = document.getElementById(`scrtchangepassbutton/${index}/${track_id}/0`);
						theitem.setAttribute('id', `scrtchangepassbutton/${index}/${track_id}/1`);
						var inputdiv = document.getElementById(`passinput/${track_id}`);
						inputdiv.setAttribute('class', 'downloadbutton');

					}
					if (istoggled == 1){
						var theitem = document.getElementById(`scrtchangepassbutton/${index}/${track_id}/1`);
						theitem.setAttribute('id', `scrtchangepassbutton/${index}/${track_id}/0`);
						var inputdiv = document.getElementById(`passinput/${track_id}`);
						inputdiv.setAttribute('class', 'downloadbuttonhidden');
					}

				});//click event
			});//class selector

		}

		function linkChangeSubmitInit(){
			document.querySelectorAll('.genlinksubmit').forEach(item => {
				item.addEventListener('click', event => {
					var idstr = item.id;
					var splitty = idstr.split("/");
					var index = splitty[1];
					var track_id = splitty[2];

					var themsg = document.getElementById(`labelgcenterlink/${index}/${track_id}`);
					themsg.innerHTML = "Generating..."

					var theform = document.getElementById(`linkform/${index}/${track_id}`);
					var time_num = theform.elements[0].value;
					var time_segment = theform.elements[1].value;
					var link_time = "";
					
					if(time_num == ""){
						themsg.innerHTML = "Please Enter a Time For Expiration!!"
					}else{
						if(time_num > 7 && time_segment == "days"){
							themsg.innerHTML = "Max 7 Days!"
						}else{
							if(time_num > 168 && time_segment == "hours"){
								themsg.innerHTML = "Max 7 Days (168 hours)!"
							}else{
								if(time_num > 10080 && time_segment == "minutes"){
									themsg.innerHTML = "Max 7 Days (10080 minutes)!"
								}else{
									if(time_num > 604800 && time_segment == "seconds"){
										themsg.innerHTML = "Max 7 Days (604800 seconds)!"
									}else{
										//ajax
										console.log(`time num is ${time_num} time segment is ${time_segment}`);
										switch(time_segment) {
											case "days":
												link_time = parseInt(time_num)*86400;
												break;
											case "hours":
												link_time = parseInt(time_num)*3600;
												break;
											case "minutes":
												link_time = parseInt(time_num)*60;
												break;
											case "seconds":
												link_time = parseInt(time_num);
												break;
										}//end switch

										console.log(`Final Time is: ${link_time}`);

										
										$.ajax({
											url:'/getgenlink',
											type: 'POST',
											data: {
												index: index,
												track_id: track_id,
												link_time: link_time
											},
											success: function(data){
												console.log("Link Created???");
												console.log(data.index);
												console.log(data.track_id);

												var theinput = document.getElementById('thesharelink');
												theinput.setAttribute('value', `https://www.riddimarchive.com/secretshare/${data.track_id}`);
												theinput.select();
												theinput.setSelectionRange(0, 99999);
												document.execCommand("copy");

												var themsg = document.getElementById(`labelgcenterlink/${data.index}/${data.track_id}`);
												themsg.innerHTML = data.msg;
											},
											error: function(){
											console.log("Didn't Work");
											}
										});//ajax
										

									}
									
								}
							}
						}
					}
						

					

					
				});//click event
			});//class selector
			
		}

		function linkToggleInit(){
			document.querySelectorAll('.scrtgenlinkbutton').forEach(item => {
				item.addEventListener('click', event => {
					var idstr = item.id;
					var splitty = idstr.split("/");
					var index = splitty[1];
					var track_id = splitty[2];
					var istoggled = splitty[3];

					if (istoggled == 0){
						var theitem = document.getElementById(`scrtgenlinkbutton/${index}/${track_id}/0`);
						theitem.setAttribute('id', `scrtgenlinkbutton/${index}/${track_id}/1`);
						var inputdiv = document.getElementById(`timeinput/${track_id}`);
						inputdiv.setAttribute('class', 'downloadbutton');
					}
					if (istoggled == 1){
						var theitem = document.getElementById(`scrtgenlinkbutton/${index}/${track_id}/1`);
						theitem.setAttribute('id', `scrtgenlinkbutton/${index}/${track_id}/0`);
						var inputdiv = document.getElementById(`timeinput/${track_id}`);
						inputdiv.setAttribute('class', 'downloadbuttonhidden');
					}

				});//click event
			});//class selector

		}