extends index3

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	- var usename = theusername;
	- var artid = theid;
	- var theartistname = theartname;
	- var message = msg;
	- var x = tracks;
	- var y = links;


	.artisth1
		h1#theh1 *WORK IN PROGRESS PAGE*
	.welcometxt
		h1 Welcome #{theartistname}! Here are your Secret Tunes, only you and people you trust can access them:
	br
	#labelgcenter #{msg}
	#allsecrets
		each track, index in x
			.fullsecret(id=`fullsecret/${index}/${track.id}`)
				.downloadbutton
					.scrttrackname(id=`scrttrackname/${index}/${track.id}`)=`${track.track_name}`
				br

				.downloadbutton
					.scrtchangepassbutton(id=`scrtchangepassbutton/${index}/${track.id}`)
						img(border='2', alt='back', src='../../Images/PageIMG/changesecretpass.png', height='45')
				.downloadbuttonhidden
					.faqform
						form(id=`passform/${index}/${track.id}`, method='POST')
							.label2 Enter New Track Password:
							input#change_pass(type='text', name='change_pass')

				.downloadbutton
					.scrtgenlinkbutton(id=`scrtgenlinkbutton/${index}/${track.id}`)
						img(border='2', alt='back', src='../../Images/PageIMG/createsecretlink.png', height='45')
				.downloadbuttonhidden
					.faqform
						form(id=`linkform/${index}/${track.id}`, method='POST')
							.label2 Enter Expiration Time:
							input#exp_time(type='text', name='exp_time')
			br