extends index

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	txt
	.downloadbutton
		.custombutton
			a(href=`../artist/${theartname}`)
				img(border='2' src='Images/PageIMG/myartistpage.png' alt='Images/PageIMG/fail.png' height='50')
	br
	.artisth1 
		h1 Upload Track
	#labelgcenter

	div(title=`${theid}`, id='dashartid')
	div(title=`${theartname}`, id='dashartname')
	div(title='0', id='currentcollabvalue')
	div(title='0', id='currentremixvalue')
	div(title='0', id='collabcounter')
	div(title='0', id='collabminus')
	div(title='0', id='remixcounter')
	div(title='0', id='leftprevvalue')
	div(title='0', id='rightprevvalue')

	br


	.faqform
		form#fileuploadform(method='POST', enctype='multipart/form-data')
			.downloadbutton
				.labelmid Track Name:
			input#tra_name(type='text', name='tra_name' style="padding-top: 0.75em; padding-bottom: 0.75em; margin-bottom: 0.5em; padding-left: 1em; padding-right: 1em; min-width: 100%;")
			br
			.middlecontain2
				.label2 Is this track a Collab?:
					.labelflexdiv
						div(class='labelflex') Yes
							input#is_collab.is_collab(type='radio', name='is_collab', value=1, style="height:35px; width:35px; vertical-align: middle;", onclick="change(this.value)")
						div(class='labelflex', style="margin-left: 3.3em;") No
							input#is_collab.is_collab(type='radio', name='is_collab', checked="checked", value=0, style="height:35px; width:35px; vertical-align: middle;", onclick="change(this.value)")
				.label2 Is this track a Remix?:
					.labelflexdiv
						div(class='labelflex') Yes
							input#is_remix.is_remix(type='radio', name='is_remix', value=1, style="height:35px; width:35px; vertical-align: middle;", onclick="changeRemix(this.value)")
						div(class='labelflex', style="margin-left: 3.3em;") No
							input#is_remix.is_remix(type='radio', name='is_remix', checked="checked", value=0, style="height:35px; width:35px; vertical-align: middle;", onclick="changeRemix(this.value)")
	
			#collabfields
				#collabfield1
					.downloadbutton
						.labelmid Collab Artist 1:
					.middlecontain2
						input#col1(type='text', name='col1', value="", style="padding-top: 0.75em; padding-bottom: 0.75em; margin-bottom: 0.5em; padding-left: 1em; padding-right: 1em; min-width: 70%;")
						.custombutton
							img(id='addcol', class='addcolbtn', border='2', alt='back', src='Images/PageIMG/plus.png', height='35')

				#collabfield2
					.downloadbutton
						.labelmid Collab Artist 2:
					input#col2(type='text', name='col2', value="", style="padding-top: 0.75em; padding-bottom: 0.75em; margin-bottom: 0.5em; padding-left: 1em; padding-right: 1em; min-width: 100%;")

				#collabfield3
					.downloadbutton
						.labelmid Collab Artist 3:
					input#col3(type='text', name='col3', value="", style="padding-top: 0.75em; padding-bottom: 0.75em; margin-bottom: 0.5em; padding-left: 1em; padding-right: 1em; min-width: 100%;")

				#collabfield4
					.downloadbutton
						.labelmid Collab Artist 4:
					input#col4(type='text', name='col4', value="", style="padding-top: 0.75em; padding-bottom: 0.75em; margin-bottom: 0.5em; padding-left: 1em; padding-right: 1em; min-width: 100%;")

			br

			#remixfields
				#remixfield1
					.downloadbutton
						.labelmid Original Artist 1:
					.middlecontain2
						input#rem1(type='text', name='rem1', value="", style="padding-top: 0.75em; padding-bottom: 0.75em; margin-bottom: 0.5em; padding-left: 1em; padding-right: 1em; min-width: 70%;")
						img(id='addrem/1', class='addrembtn', border='2', alt='back', src='Images/PageIMG/plus.png', height='35')
				#remixfield2
					.downloadbutton
						.labelmid Original Artist 2:
					input#rem2(type='text', name='rem2', value="", style="padding-top: 0.75em; padding-bottom: 0.75em; margin-bottom: 0.5em; padding-left: 1em; padding-right: 1em; min-width: 100%;")

			.label3 Upload File:
			br
			div.form-group
				input#thefile(type='file', name='thefile', style="min-width: 100%; border: solid 2px; padding: 1em; margin-bottom: 0.75em;")
			.downloadbutton
				.custombutton
					div(id='preview', class='previewbtn')
						img(border='2', alt='back', src='Images/PageIMG/preview.png', height='50')
			.downloadbutton
				#labelgcenter2
	.downloadbuttonhidden
		.uldiv
			ul
				li#tunetextnowidth
	br

	.downloadbuttonhidden
		input#leftslide.slider(type='range', name='leftslide', min='0', max='50', value='0')
		input#rightslide.slider(type='range', name='rightslide', min='0', max='50', value='0')
	br
	
	.downloadbuttonhidden
			.custombutton
				div(id='thesubmit', class='thesubmit')
					img(border='2', alt='back', src='Images/PageIMG/upload.png', height='50', style="margin-top: 2.5em;height: 75px;")
						
	script.
		$(document).on("keydown", "form", function(event) { 
			return event.key != "Enter";
		});

		$(document).bind("keydown keypress", function(e){
			if( e.which == 8 ){ // 8 == backspace
				if(e.target.readOnly ){
					e.preventDefault();
				}
			}
		});

		$(document).ready(function() {
			console.log("Doc ready");
			document.getElementById("currentcollabvalue").title = 0;
			document.getElementById("currentremixvalue").title = 0;
			previewInit();
			uploadInit();
			collabInit();
			remixInit();
		});

		function change(thevalue){
			var collabfields = document.getElementById("collabfields");
			if(thevalue == 1){
				console.log("1");
				collabfields.style.display = "block";
			}
			if(thevalue == 0){
				console.log("0");
				collabfields.style.display = "none";
			}

			document.getElementById("currentcollabvalue").title = thevalue;
			var elements = document.getElementsByClassName('is_collab');
			var top = elements[0];
			var bottom = elements[1];
			top.value = 1;
			bottom.value = 0;
		}

		function changeRemix(thevalue){
			var remixfields = document.getElementById("remixfields");
			if(thevalue == 1){
				console.log("1");
				remixfields.style.display = "block";
			}
			if(thevalue == 0){
				console.log("0");
				remixfields.style.display = "none";
			}
			document.getElementById("currentremixvalue").title = thevalue;
			var elements = document.getElementsByClassName('is_remix');
			var top = elements[0];
			var bottom = elements[1];
			top.value = 1;
			bottom.value = 0;
		}

		function getCurrentCollabValue(){
			return document.getElementById("currentcollabvalue").title;
		}

		function getCurrentRemixValue(){
			return document.getElementById("currentremixvalue").title;
		}

		function collabInit(){
			document.querySelectorAll('.addcolbtn').forEach(item => {
				item.addEventListener('click', event => {
				var counterstr = document.getElementById("collabcounter").title.toString();
				var counter = parseInt(counterstr);
				var minusstr = document.getElementById("collabminus").title.toString();
				var minusmode = parseInt(minusstr);

				switch(counter) {
					case 0:
						var field2 = document.getElementById("collabfield2");
						if(minusmode == 0){
							field2.style.display = "block";
							counter++;
							document.getElementById("collabcounter").title = counter;
						}else{
							field2.style.display = "none";
							document.getElementById("collabminus").title = 0;
							item.src = 'Images/PageIMG/plus.png';
						}
						break;
					case 1:
						var field3 = document.getElementById("collabfield3");
						if(minusmode == 0){
							field3.style.display = "block";
							counter++;
							document.getElementById("collabcounter").title = counter;
						}else{
							field3.style.display = "none";
							counter--;
							document.getElementById("collabcounter").title = counter;
							minusmode = 0;
						}
						break;
					case 2:
						var field4 = document.getElementById("collabfield4");
						if(minusmode == 0){
							field4.style.display = "block";
						}else{
							field4.style.display = "none";
							counter--;
							document.getElementById("collabcounter").title = counter;
						}
						document.getElementById("collabminus").title = 1;

						item.src = 'Images/PageIMG/minus.png';
						break;
				}//end switch

				});//click event
			});//class selector
		}

		function remixInit(){
			document.querySelectorAll('.addrembtn').forEach(item => {
				item.addEventListener('click', event => {
					var remixstr = document.getElementById("remixcounter").title.toString();
					var counter = parseInt(remixstr);
					if(counter == 0){
						var field2 = document.getElementById("remixfield2");
						field2.style.display = "block";
						counter++;
						document.getElementById("remixcounter").title = counter;
						item.src = 'Images/PageIMG/minus.png';
					}else{
						var field2 = document.getElementById("remixfield2");
						field2.style.display = "none";
						counter--;
						document.getElementById("remixcounter").title = counter;
						item.src = 'Images/PageIMG/plus.png';
					}
				});//click event
			});//class selector
		}

		function handleRange(strlen){
			var leftRangeInput = document.getElementById("leftslide");
			var rightRangeInput = document.getElementById("rightslide");
			leftRangeInput.max = strlen;
			rightRangeInput.max = strlen;
			document.getElementById("rightslide").value = `${strlen}`;
			document.getElementById("rightprevvalue").title = `${strlen}`;

			//Highlight String at the Beginning
			document.querySelectorAll('.letter').forEach(item => {
				var split = item.id.split("/");
				for (var i = 0; i < strlen; i++){
					var theselectedletter = document.getElementById(`letter/${i}`);
					theselectedletter.style.color = "greenyellow";
				}
			});

			//add brackets to beginning and end
			var leftinitbrack = document.getElementById(`txtsplit/0`);
			leftinitbrack.innerHTML = `<div class="redtext">[[</div>`;
			var rightinitbrack = document.getElementById(`txtsplit/${strlen}`);
			rightinitbrack.innerHTML = `<div class="redtext">]]</div>`;


			leftRangeInput.addEventListener("change", function() {
				var currright = document.getElementById("rightprevvalue").title;
				var prevleft = document.getElementById("leftprevvalue").title;
				var prevleftbound = document.getElementById(`txtsplit/${prevleft}`);
				prevleftbound.innerHTML = "";

				var thevalue = leftRangeInput.value;
				console.log(`THE VALUE BEFORE IS ${thevalue}`);
				if (thevalue >= parseInt(currright)){
					thevalue = (parseInt(currright)-1);
				}
				console.log(`THE VALUE AFTER IS ${thevalue}`);
				var leftbound = document.getElementById(`txtsplit/${thevalue}`);
				leftbound.innerHTML = `<div class="redtext">[[</div>`;

				document.querySelectorAll('.letter').forEach(item => {
					var split = item.id.split("/");
					for (var i = thevalue; i < parseInt(currright); i++){
						var theselectedletter = document.getElementById(`letter/${i}`);
						theselectedletter.style.color = "greenyellow";
					}
					for (var j = 0; j < thevalue; j++){
						var notselectedletter = document.getElementById(`letter/${j}`);
						notselectedletter.style.color = "black";
					}
				});
				document.getElementById("leftprevvalue").title = thevalue;

			}, false);

			rightRangeInput.addEventListener("change", function() {
				var currleft = document.getElementById("leftprevvalue").title;
				var prevright = document.getElementById("rightprevvalue").title;
				var prevrightbound = document.getElementById(`txtsplit/${prevright}`);
				prevrightbound.innerHTML = "";

				var thevalue = rightRangeInput.value;
				console.log(`THE VALUE BEFORE IS ${thevalue}`);
				if (thevalue <= parseInt(currleft)){
					thevalue = (parseInt(currleft)+1);
				}
				console.log(`THE VALUE AFTER IS ${thevalue}`);
				var rightbound = document.getElementById(`txtsplit/${thevalue}`);
				rightbound.innerHTML = `<div class="redtext">]]</div>`;

				document.querySelectorAll('.letter').forEach(item => {
					var split = item.id.split("/");
					for (var i = thevalue; i > parseInt(currleft); i--){
						if (i == strlen){
							i--;
						}
						var theselectedletter = document.getElementById(`letter/${i}`);
						theselectedletter.style.color = "greenyellow";
					}
					for (var j = thevalue; j < strlen; j++){
						var theselectedletter = document.getElementById(`letter/${j}`);
						theselectedletter.style.color = "black";
					}
				});
				document.getElementById("rightprevvalue").title = thevalue;
			}, false);
		}

		function previewInit(){
			var thebutton = $('#preview');
			thebutton.click(function (ev) {
				console.log("clicked button");
				ev.preventDefault();
				var msg2 = document.getElementById("labelgcenter2");
				msg2.innerHTML = "Please Select only Track Name Using Below Sliders.<br>Selected track name will easily be searchable on your page.<br>Then Click Upload Button to Submit!";

				var finalstr = document.getElementById("tra_name").value;
				if (finalstr.length == 0){
					var msg = document.getElementById("labelgcenter");
					msg.innerHTML = "Please Enter Track Name";
					var msg2 = document.getElementById("labelgcenter2");
					msg2.innerHTML = "Please Enter Track Name";
				}else{
					var outstring = "";
					var theSplit = finalstr.split("");
					for (var i = 0; i < theSplit.length; i++){
						outstring = `${outstring}<div class="txtsplit" id="txtsplit/${i}"></div><div class="letter" id="letter/${i}">${theSplit[i]}</div>`;
					}
					outstring = `${outstring}<div class="txtsplit" id="txtsplit/${theSplit.length}"></div>`;
					var thetext = document.getElementById("tunetextnowidth");
					thetext.innerHTML = outstring;
					handleRange(finalstr.length);

					document.querySelectorAll('.downloadbuttonhidden').forEach(item => {
						item.style.display = "flex";
					});
				}
			});
		}

		function uploadInit(){
			var theform = $('#fileuploadform');
			var thebutton = $('#thesubmit');
			thebutton.click(function (ev) {
				console.log("clicked button");
				ev.preventDefault();
				var msg = document.getElementById("labelgcenter");
				msg.innerHTML = "Uploading...";
				var msg2 = document.getElementById("labelgcenter2");
				msg2.innerHTML = "Uploading...";
				var files = $('#thefile')[0].files[0];
				console.log(`files is: ${files}`);
				if (!files) {
					msg.innerHTML = "File not Attached!";
					msg2.innerHTML = "File not Attached!";
				}else{
					if(files.type != "audio/mpeg" && files.type != "audio/wav" && files.type != "audio/aiff"){
						msg.innerHTML = "WRONG FORMAT: Please Upload MP3/WAV/AIFF!";
						msg2.innerHTML = "WRONG FORMAT: Please Upload MP3/WAV/AIFF!";
					}else{
						if(files.size > 102060124){
							msg.innerHTML = "FILE TOO BIG: 100 MB is the Max!";
							msg2.innerHTML = "FILE TOO BIG: 100 MB is the Max!";
						}else{
							var fd = new FormData();
							var artist_name = document.getElementById("dashartname").title;
							var artist_id = document.getElementById("dashartid").title;

							var track_name = document.getElementById("tra_name").value.toString();
							var short_name = "";

							var is_collab = getCurrentCollabValue();
							var is_remix = getCurrentRemixValue();

							var col1 = document.getElementById("col1").value;
							var col2 = document.getElementById("col2").value;
							var col3 = document.getElementById("col3").value;
							var col4 = document.getElementById("col4").value;

							var rem1 = document.getElementById("rem1").value;
							var rem2 = document.getElementById("rem2").value;

							fd.append('file', files);
							fd.append('artist_name', artist_name);
							fd.append('artist_id', artist_id);
							fd.append('track_name', track_name);
							fd.append('short_name', short_name);
							fd.append('is_collab', is_collab);
							fd.append('is_remix', is_remix);

							fd.append('col1', col1);
							fd.append('col2', col2);
							fd.append('col3', col3);
							fd.append('col4', col4);
							fd.append('rem1', rem1);
							fd.append('rem2', rem2);

							$.ajax({
								url:'/tests3upload',
								type: 'POST',
								data: fd,
								processData: false,
								contentType: false,
								success: function(data){
									var msg = document.getElementById("labelgcenter");
									var msg2 = document.getElementById("labelgcenter2");
									msg.innerHTML = data.msg;
									msg2.innerHTML = data.msg;
								},
								error: function(){
									console.log("Didn't Work");
								}
							});//end ajax

						}//third else - file is less than 100 MB
					}//second else - file is correct type
				}//first else - file attached
			});
		}