extends index3

block content
	script(src='https://code.jquery.com/jquery-3.5.0.min.js')
	.artisth1 
		h1 USER DASHBOARD
	br
	
	- var username = theusername;
	
	.welcometxt
		h1 Welcome #{username}!
	div(title=`${art_id}`, id='dashartid')
	div(title=`${art_name}`, id='dashartname')
	
	.fishcontain
		#fish
			.fishchild
				a(href='../')
					img(src='Images/PageIMG/browsearchive.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild(id='uppagelink')
				form(method='POST' action='/tuneup')
					input#theid(type='hidden', name='theid', value=`${art_id}`)
					input#theartistname(type='hidden', name='theartistname', value=`${art_name}`)
					input#tuneimg.tuneimgbutton(type='image', src='Images/PageIMG/tuneup.png' height='250' width='250' alt='Submit')
			.fishchild(id='secrettuneslink')
				form(method='POST' action='/secrettunes')
					input#scrtid(type='hidden', name='scrtid', value=`${art_id}`)
					input#scrtartistname(type='hidden', name='scrtartistname', value=`${art_name}`)
					input#secretimg.tuneimgbutton(type='image', src='Images/PageIMG/secret.png' height='250' width='250' alt='Submit')
			.fishchild
				a(href='secrettunes')
					img(src='Images/PageIMG/secret.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='favorites')
					img(src='Images/PageIMG/favorites.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='changepass')
					img(src='Images/PageIMG/changepass.png' alt='Images/PageIMG/fail.png' height='250' width='250')
			.fishchild
				a(href='logout')
					img(src='Images/PageIMG/logout.png' alt='Images/PageIMG/fail.png' height='250' width='250')
	
	script.
		$(document).ready(function() {
			console.log("Doc ready");
			addVerifyButton();
		});

		function addVerifyButton() {
			var theid = document.getElementById('dashartid');
			if (theid.title != ""){
				var thename = document.getElementById('dashartname').title;
				var thebutton = document.getElementById('uppagelink');
				thebutton.style.display = "block";
				var scrtbutton = document.getElementById('secrettuneslink');
				scrtbutton.style.display = "block";
				
				var theimg = document.getElementById('tuneimg');
				theimg.setAttribute('id', `${theid.title}/${thename}`);
				var secretimg = document.getElementById('secretimg');
				secretimg.setAttribute('id', `${theid.title}/${thename}`);
			}
		}